## Parse panel data files from years 8-11 (day granularity)

In [1]:
import pandas as pd
from pandas.core.series import Series
import numpy as np
import glob
import datetime
# import sklearn
# import sklearn.datasets
# import sklearn.cross_validation
# import time

# from sklearn.cross_validation import KFold
# from sklearn import ensemble
# from sklearn import metrics
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.cross_validation import cross_val_score
# from sklearn.tree import DecisionTreeRegressor

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [117]:
def convert_week(x):
    start_epoch_arr= x.values.astype(int)
    end_epoch_arr= np.array(start_epoch_arr)
    
    start_epoch_arr= (start_epoch_arr-400)*7+31900-6
    start_epoch_arr = (start_epoch_arr-25569) * 86400
    
    end_epoch_arr = (end_epoch_arr-400)*7+31900
    end_epoch_arr= (end_epoch_arr-25569) * 86400
    
    return (start_epoch_arr, end_epoch_arr)

def get_transaction_time(x, start_epoch_arr):
    transaction_time_epoch_arr= x.values.astype(int)
    transaction_time_epoch_arr= start_epoch_arr + (transaction_time_epoch_arr * 60)
    return transaction_time_epoch_arr

def get_datetime(transaction_time_epoch_arr):
    t_shape= np.shape(transaction_time_epoch_arr)
    month_arr= np.zeros(t_shape, dtype=int)
    day_arr=np.zeros(t_shape, dtype=int)
    year_arr= np.zeros(t_shape, dtype=int)
    hour_arr= np.zeros(t_shape, dtype=int)
    minute_arr= np.zeros(t_shape, dtype=int)
    dayofweek_arr= np.zeros(t_shape, dtype=int)
    
    for i in xrange(t_shape[0]):
        t_time= transaction_time_epoch_arr[i]
        dt= datetime.datetime.utcfromtimestamp(t_time)
        month_arr[i]= dt.month
        day_arr[i]= dt.day
        year_arr[i]= dt.year
        hour_arr[i]= dt.hour
        minute_arr[i]= dt.minute
        dayofweek_arr[i]= dt.weekday()
    
    return (month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr)

def parse_colupc(colupc_arr):
    t_shape= np.shape(colupc_arr)
    sy_arr= np.zeros(t_shape, dtype=int)
    ge_arr=np.zeros(t_shape, dtype=int)
    vend_arr= np.zeros(t_shape, dtype=int)
    item_arr= np.zeros(t_shape, dtype=int)
    for i, colupc in enumerate(colupc_arr):
        assert len(colupc) == 13
        # sy, gen, vend, item
        m_as= [colupc[:2], colupc[2:3], colupc[3:8], colupc[8:]]
        m_outs= [sy_arr, ge_arr, vend_arr, item_arr]
        for j in xrange(4):
            a= m_as[j]
            out= m_outs[j]
            out[i]= int(a)
    return (sy_arr, ge_arr, vend_arr, item_arr)

def parse_panel(filename):
    column_headers= None
    m_df_items= []
#     m_df = pd.read_csv(filename, engine='python')
    with open(filename) as f:
        i= 0
        for line in f:
            line= line.strip()
            s_arr= line.split(",")
            s_arr= [x.strip() for x in s_arr if len(x.strip()) > 0]
            if column_headers == None:
                column_headers= s_arr
                continue
            item= (i, s_arr)
            m_df_items.append(item)
            i+=1

    #if "MINUTE" not in m_df.columns.values.tolist():
    if "MINUTE" not in column_headers:
        raise RuntimeError("Expecting MINUTE column in dataset, unable to parse")
        
    m_df= pd.DataFrame.from_items(m_df_items, columns=column_headers, orient='index')
    
    s_week_df= m_df["WEEK"]
    start_time_epoch_arr, end_time_epoch_arr= convert_week(s_week_df)
    r1= pd.DataFrame({
        'START_TIME_EPOCH_S' : start_time_epoch_arr
    })
    r2= pd.DataFrame({
        'END_TIME_EPOCH_S' : end_time_epoch_arr
    })
    m_df= pd.concat([m_df, r1, r2], axis=1)
    #
    s_minute_df= m_df["MINUTE"]
    transaction_time_epoch_arr= get_transaction_time(s_minute_df, start_time_epoch_arr)
    t_result= pd.DataFrame({
        'TRANSACTION_TIME_EPOCH_S' : transaction_time_epoch_arr
    })
    # extract month, day, year, hour, minute
    month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr= get_datetime(transaction_time_epoch_arr)
    r1= pd.DataFrame({
        'MONTH' : month_arr
    })
    r2= pd.DataFrame({
        'DAY' : day_arr
    })
    r3= pd.DataFrame({
        'YEAR' : year_arr
    })
    r4= pd.DataFrame({
        'HOUR_OF_DAY' : hour_arr
    })
    r5= pd.DataFrame({
        'MINUTE' : minute_arr
    })
    r6= pd.DataFrame({
        'DAYOFWEEK' : dayofweek_arr
    })
    m_df.drop("MINUTE", axis=1, inplace=True)
    m_df= pd.concat([m_df, t_result, r1, r2, r3, r4, r5, r6], axis=1)
    
    # Parse COLUPC to SY GE VEND ITEM
    # 18417375121 ->   
    #  item: 75121
    #  vender: 84173
    #  generation: 1
    #  system: 00 (zero padded)
    s_colupc_df= m_df["COLUPC"]
    sy_arr, ge_arr, vend_arr, item_arr = parse_colupc(s_colupc_df)
    r1= pd.DataFrame({
        'SY' : sy_arr
    })
    r2= pd.DataFrame({
        'GE' : ge_arr
    })
    r3= pd.DataFrame({
        'VEND' : vend_arr
    })
    r4= pd.DataFrame({
        'ITEM' : item_arr
    })
    m_df.drop("COLUPC", axis=1, inplace=True)
    m_df= pd.concat([m_df, r1, r2, r3, r4], axis=1)
    
    return m_df

In [137]:
beer_dir='/home/conway/beer'

# parse panels across Year8-Year11
panel_filenames= []
panel_filenames.extend(glob.glob(beer_dir+"/Year8/*.DAT"))
panel_filenames.extend(glob.glob(beer_dir+"/Year9/*.DAT"))
panel_filenames.extend(glob.glob(beer_dir+"/Year10/*.DAT"))
panel_filenames.extend(glob.glob(beer_dir+"/Year11/*.DAT"))

master_panel_df= None
for pf in panel_filenames:
    print "Parsing {}".format(pf)
    m_df= parse_panel(pf)
    if master_panel_df is None:
        master_panel_df= m_df
    else:
        master_panel_df= pd.concat([master_panel_df, m_df], ignore_index=True)

master_panel_df.sort(["TRANSACTION_TIME_EPOCH_S"], inplace=True)
master_panel_df.reset_index(drop=True, inplace=True)
master_panel_df

Parsing /home/conway/beer/Year8/beer_PANEL_KK_1479_1530.DAT
Parsing /home/conway/beer/Year8/beer_PANEL_GK_1479_1530.DAT
Parsing /home/conway/beer/Year8/beer_PANEL_MK_1479_1530.DAT
Parsing /home/conway/beer/Year9/beer_PANEL_GK_1531_1582.DAT
Parsing /home/conway/beer/Year9/beer_PANEL_MK_1531_1582.DAT
Parsing /home/conway/beer/Year10/beer_PANEL_MK_1583_1634.DAT
Parsing /home/conway/beer/Year10/beer_PANEL_DK_1583_1634.DAT
Parsing /home/conway/beer/Year10/beer_PANEL_GK_1583_1634.DAT
Parsing /home/conway/beer/Year11/beer_PANEL_MK_1635_1686.DAT
Parsing /home/conway/beer/Year11/beer_PANEL_GK_1635_1686.DAT
Parsing /home/conway/beer/Year11/beer_PANEL_DK_1635_1686.DAT

,PANID,WEEK,UNITS,OUTLET,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,YEAR,HOUR_OF_DAY,MINUTE,DAYOFWEEK,SY,GE,VEND,ITEM
0,3369595,1479,4,GK,10,257871,1199059200,1199577600,1199092980,12,31,2007,9,23,0,0,1,84173,75121
1,3834697,1479,1,GK,8.99,257871,1199059200,1199577600,1199094480,12,31,2007,9,48,0,0,1,34100,17636
2,3308189,1479,1,GK,14.68,9999690,1199059200,1199577600,1199095200,12,31,2007,10,0,0,0,1,18200,53168
3,3812222,1479,1,GK,10.98,9999691,1199059200,1199577600,1199095440,12,31,2007,10,4,0,0,1,34100,57340
4,3356188,1479,1,GK,8.89,9999691,1199059200,1199577600,1199096700,12,31,2007,10,25,0,0,1,71990,30069
5,3315523,1479,1,GK,14.68,9999690,1199059200,1199577600,1199097180,12,31,2007,10,33,0,0,1,34100,57306
6,3341818,1479,1,GK,10.99,257871,1199059200,1199577600,1199098380,12,31,2007,10,53,0,0,1,18200,96418
7,3334490,1479,1,GK,7.49,9999691,1199059200,1199577600,1199099460,12,31,2007,11,11,0,0,2,80660,95605
8,3358846,1479,1,GK,5.99,9999690,1199059200,1199577600,1199099520,12,31,2007,11,12,0,0,1,84173,32130
9,3358846,1479,1,GK,6.19,9999690,1199059200,1199577600,1199099520,12,31,2007,11,12,0,0,1,84173,30130
10,3160101,1479,1,GK,13.91,9999661,1199059200,1199577600,1199099880,12,31,2007,11,18,0,0,1,34100,57306
11,3173575,1479,1,GK,11.99,1085053,1199059200,1199577600,1199100060,12,31,2007,11,21,0,0,1,88345,10053
12,3330381,1479,1,GK,8.79,9999690,1199059200,1199577600,1199100240,12,31,2007,11,24,0,0,3,18200,697
13,3330381,1479,1,GK,6.59,9999690,1199059200,1199577600,1199100240,12,31,2007,11,24,0,0,1,18200,7995
14,3353623,1479,1,GK,4.99,9999690,1199059200,1199577600,1199100540,12,31,2007,11,29,0,0,1,18200,834
15,3333377,1479,1,GK,12.21,257871,1199059200,1199577600,1199100600,12,31,2007,11,30,0,0,1,34100,57340
16,3117333,1479,1,GK,6.05,9999661,1199059200,1199577600,1199102220,12,31,2007,11,57,0,0,1,51460,51460
17,3117333,1479,1,GK,13.79,9999661,1199059200,1199577600,1199102220,12,31,2007,11,57,0,7,1,18200,11025
18,3156729,1479,1,GK,14.68,9999691,1199059200,1199577600,1199102700,12,31,2007,12,5,0,0,1,34100,15341
19,3156729,1479,2,GK,25.98,9999691,1199059200,1199577600,1199102700,12,31,2007,12,5,0,0,1,73360,11214
20,3347450,1479,2,GK,28.58,9999690,1199059200,1199577600,1199103180,12,31,2007,12,13,0,0,1,18200,86031
21,3314419,1479,1,GK,5.69,1085053,1199059200,1199577600,1199104200,12,31,2007,12,30,0,0,1,34100,57570
22,3343764,1479,1,GK,8.79,9999691,1199059200,1199577600,1199104320,12,31,2007,12,32,0,0,3,18200,697
23,3833319,1479,1,GK,16.49,1085053,1199059200,1199577600,1199105160,12,31,2007,12,46,0,0,1,18200,96379
24,3161760,1479,1,GK,9.29,257871,1199059200,1199577600,1199105520,12,31,2007,12,52,0,0,1,18200,769
25,3801365,1479,1,GK,11.98,9999691,1199059200,1199577600,1199105580,12,31,2007,12,53,0,0,5,34100,72405
26,3103333,1479,1,GK,13.69,9999690,1199059200,1199577600,1199105700,12,31,2007,12,55,0,0,1,18200,96663
27,3144766,1479,1,GK,11.06,257871,1199059200,1199577600,1199105940,12,31,2007,12,59,0,0,1,18200,53218
28,3817353,1479,1,GK,12.99,9999661,1199059200,1199577600,1199105940,12,31,2007,12,59,0,0,1,18200,96418
29,3183384,1479,2,GK,15.18,9999690,1199059200,1199577600,1199107620,12,31,2007,13,27,0,0,2,34100,62509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,1811653,1686,1,GK,8.99,9999879,1324252800,1324771200,1324735680,12,24,2011,14,8,5,0,2,80660,95605
67936,1811653,1686,1,GK,8.99,9999879,1324252800,1324771200,1324735680,12,24,2011,14,8,5,0,1,83820,12360
67937,1138008,1686,1,GK,12.99,9999875,1324252800,1324771200,1324736400,12,24,2011,14,20,5,7,1,43041,4012
67938,1138008,1686,1,GK,19.99,9999875,1324252800,1324771200,1324736400,12,24,2011,14,20,5,0,1,71990,30030
67939,1200725,1686,1,GK,7.29,9999879,1324252800,1324771200,1324737000,12,24,2011,14,30,5,0,1,18200,5989
67940,1200725,1686,1,GK,16.99,9999879,1324252800,1324771200,1324737000,12,24,2011,14,30,5,0,1,71990,30078
67941,1208629,1686,1,GK,11.99,9999875,1324252800,1324771200,1324737120,12,24,2011,14,32,5,0,1,18200,14990
67942,1208629,1686,1,GK,19.98,9999875,1324252800,1324771200,1324737120,12,24,2011,14,32,5,0,1,18200,53030
67943,3167510,1686,1,GK,13.99,9999691,1324252800,1324771200,1324737300,12,24,2011,14,35,5,0,1,52300,435
67944,1123448,1686,1,GK,13.99,9999875,1324252800,1324771200,1324737780,12,24,2011,14,43,5,0,1,82488,12300
67945,1123448,1686,1,GK,19.99,9999875,1324252800,1324771200,1324737780,12,24,2011,14,43,5,0,1,71990,30030
67946,1216663,1686,1,GK,11.99,9999879,1324252800,1324771200,1324737960,12,24,2011,14,46,5,0,2,72311,23012
67947,1807156,1686,1,GK,9.49,9999879,1324252800,1324771200,1324738320,12,24,2011,14,52,5,0,1,87692,10012
67948,3109124,1686,2,GK,30.98,257871,1324252800,1324771200,1324738440,12,24,2011,14,54,5,0,1,18200,86031
67949,3812750,1686,1,GK,9.88,9999661,1324252800,1324771200,1324739040,12,24,2011,15,4,5,0,1,34100,1340
67950,3320135,1686,1,GK,11.99,1085053,1324252800,1324771200,1324739820,12,24,2011,15,17,5,0,1,18200,96418
67951,1157099,1686,1,GK,12.99,9999879,1324252800,1324771200,1324740240,12,24,2011,15,24,5,0,4,87692,29103
67952,1169474,1686,1,GK,6.49,9999879,1324252800,1324771200,1324741380,12,24,2011,15,43,5,0,1,71990,30005
67953,3105080,1686,1,GK,7.79,9999691,1324252800,1324771200,1324741860,12,24,2011,15,51,5,0,2,71990,9532
67954,3200857,1686,1,GK,8.99,257871,1324252800,1324771200,1324743000,12,24,2011,16,10,5,0,2,34100,15509
67955,1154179,1686,1,GK,16.99,9999879,1324252800,1324771200,1324743540,12,24,2011,16,19,5,0,1,18200,96624
67956,3348904,1686,1,GK,13.99,9999691,1324252800,1324771200,1324744380,12,24,2011,16,33,5,0,1,52300,435
67957,1400812,1686,1,GK,19.99,9999879,1324252800,1324771200,1324746000,12,24,2011,17,0,5,0,1,18200,11030
67958,3825554,1686,1,GK,10.99,1085053,1324252800,1324771200,1324746300,12,24,2011,17,5,5,0,2,34100,78574
67959,1179614,1686,1,GK,12.49,9999879,1324252800,1324771200,1324746660,12,24,2011,17,11,5,0,1,71990,48
67960,3174649,1686,1,GK,7.99,9999691,1324252800,1324771200,1324747320,12,24,2011,17,22,5,0,1,34100,1636
67961,1128082,1686,1,GK,11.99,9999879,1324252800,1324771200,1324747320,12,24,2011,17,22,5,0,1,18200,771
67962,1218529,1686,1,GK,19.99,9999875,1324252800,1324771200,1324747320,12,24,2011,17,22,5,0,1,80660,95680
67963,1312835,1686,1,GK,12.99,9999879,1324252800,1324771200,1324748160,12,24,2011,17,36,5,0,1,87692,32012
67964,1407049,1686,1,GK,3.99,9999879,1324252800,1324771200,1324748940,12,24,2011,17,49,5,7,1,4563,11

In [138]:
master_panel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67965 entries, 0 to 67964
Data columns (total 19 columns):
PANID                       67965 non-null object
WEEK                        67965 non-null object
UNITS                       67965 non-null object
OUTLET                      67965 non-null object
DOLLARS                     67965 non-null object
IRI_KEY                     67965 non-null object
START_TIME_EPOCH_S          67965 non-null int64
END_TIME_EPOCH_S            67965 non-null int64
TRANSACTION_TIME_EPOCH_S    67965 non-null int64
MONTH                       67965 non-null int64
DAY                         67965 non-null int64
YEAR                        67965 non-null int64
HOUR_OF_DAY                 67965 non-null int64
MINUTE                      67965 non-null int64
DAYOFWEEK                   67965 non-null int64
SY                          67965 non-null int64
GE                          67965 non-null int64
VEND                        67965 non-null int64
ITEM                        67965 non-null int64
dtypes: int64(13), object(6)
memory usage: 10.4+ MB

In [139]:
s_outlet= master_panel_df["OUTLET"]
s_outlet_counts= s_outlet.value_counts()
s_outlet_counts

GK    67891
DK       26
MK       25
KK       23
dtype: int64

In [140]:
# decompose outlet categories to 0=Grocery, 1=Drug, 2=Mass, 3=KK?
mapping= {
    "GK":0,
    "DK":1,
    "MK":2,
    "KK":3,
}
master_panel_df["OUTLET"]= s_outlet.apply(lambda x: mapping[x.strip()])
master_panel_df

,PANID,WEEK,UNITS,OUTLET,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,YEAR,HOUR_OF_DAY,MINUTE,DAYOFWEEK,SY,GE,VEND,ITEM
0,3369595,1479,4,0,10,257871,1199059200,1199577600,1199092980,12,31,2007,9,23,0,0,1,84173,75121
1,3834697,1479,1,0,8.99,257871,1199059200,1199577600,1199094480,12,31,2007,9,48,0,0,1,34100,17636
2,3308189,1479,1,0,14.68,9999690,1199059200,1199577600,1199095200,12,31,2007,10,0,0,0,1,18200,53168
3,3812222,1479,1,0,10.98,9999691,1199059200,1199577600,1199095440,12,31,2007,10,4,0,0,1,34100,57340
4,3356188,1479,1,0,8.89,9999691,1199059200,1199577600,1199096700,12,31,2007,10,25,0,0,1,71990,30069
5,3315523,1479,1,0,14.68,9999690,1199059200,1199577600,1199097180,12,31,2007,10,33,0,0,1,34100,57306
6,3341818,1479,1,0,10.99,257871,1199059200,1199577600,1199098380,12,31,2007,10,53,0,0,1,18200,96418
7,3334490,1479,1,0,7.49,9999691,1199059200,1199577600,1199099460,12,31,2007,11,11,0,0,2,80660,95605
8,3358846,1479,1,0,5.99,9999690,1199059200,1199577600,1199099520,12,31,2007,11,12,0,0,1,84173,32130
9,3358846,1479,1,0,6.19,9999690,1199059200,1199577600,1199099520,12,31,2007,11,12,0,0,1,84173,30130
10,3160101,1479,1,0,13.91,9999661,1199059200,1199577600,1199099880,12,31,2007,11,18,0,0,1,34100,57306
11,3173575,1479,1,0,11.99,1085053,1199059200,1199577600,1199100060,12,31,2007,11,21,0,0,1,88345,10053
12,3330381,1479,1,0,8.79,9999690,1199059200,1199577600,1199100240,12,31,2007,11,24,0,0,3,18200,697
13,3330381,1479,1,0,6.59,9999690,1199059200,1199577600,1199100240,12,31,2007,11,24,0,0,1,18200,7995
14,3353623,1479,1,0,4.99,9999690,1199059200,1199577600,1199100540,12,31,2007,11,29,0,0,1,18200,834
15,3333377,1479,1,0,12.21,257871,1199059200,1199577600,1199100600,12,31,2007,11,30,0,0,1,34100,57340
16,3117333,1479,1,0,6.05,9999661,1199059200,1199577600,1199102220,12,31,2007,11,57,0,0,1,51460,51460
17,3117333,1479,1,0,13.79,9999661,1199059200,1199577600,1199102220,12,31,2007,11,57,0,7,1,18200,11025
18,3156729,1479,1,0,14.68,9999691,1199059200,1199577600,1199102700,12,31,2007,12,5,0,0,1,34100,15341
19,3156729,1479,2,0,25.98,9999691,1199059200,1199577600,1199102700,12,31,2007,12,5,0,0,1,73360,11214
20,3347450,1479,2,0,28.58,9999690,1199059200,1199577600,1199103180,12,31,2007,12,13,0,0,1,18200,86031
21,3314419,1479,1,0,5.69,1085053,1199059200,1199577600,1199104200,12,31,2007,12,30,0,0,1,34100,57570
22,3343764,1479,1,0,8.79,9999691,1199059200,1199577600,1199104320,12,31,2007,12,32,0,0,3,18200,697
23,3833319,1479,1,0,16.49,1085053,1199059200,1199577600,1199105160,12,31,2007,12,46,0,0,1,18200,96379
24,3161760,1479,1,0,9.29,257871,1199059200,1199577600,1199105520,12,31,2007,12,52,0,0,1,18200,769
25,3801365,1479,1,0,11.98,9999691,1199059200,1199577600,1199105580,12,31,2007,12,53,0,0,5,34100,72405
26,3103333,1479,1,0,13.69,9999690,1199059200,1199577600,1199105700,12,31,2007,12,55,0,0,1,18200,96663
27,3144766,1479,1,0,11.06,257871,1199059200,1199577600,1199105940,12,31,2007,12,59,0,0,1,18200,53218
28,3817353,1479,1,0,12.99,9999661,1199059200,1199577600,1199105940,12,31,2007,12,59,0,0,1,18200,96418
29,3183384,1479,2,0,15.18,9999690,1199059200,1199577600,1199107620,12,31,2007,13,27,0,0,2,34100,62509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,1811653,1686,1,0,8.99,9999879,1324252800,1324771200,1324735680,12,24,2011,14,8,5,0,2,80660,95605
67936,1811653,1686,1,0,8.99,9999879,1324252800,1324771200,1324735680,12,24,2011,14,8,5,0,1,83820,12360
67937,1138008,1686,1,0,12.99,9999875,1324252800,1324771200,1324736400,12,24,2011,14,20,5,7,1,43041,4012
67938,1138008,1686,1,0,19.99,9999875,1324252800,1324771200,1324736400,12,24,2011,14,20,5,0,1,71990,30030
67939,1200725,1686,1,0,7.29,9999879,1324252800,1324771200,1324737000,12,24,2011,14,30,5,0,1,18200,5989
67940,1200725,1686,1,0,16.99,9999879,1324252800,1324771200,1324737000,12,24,2011,14,30,5,0,1,71990,30078
67941,1208629,1686,1,0,11.99,9999875,1324252800,1324771200,1324737120,12,24,2011,14,32,5,0,1,18200,14990
67942,1208629,1686,1,0,19.98,9999875,1324252800,1324771200,1324737120,12,24,2011,14,32,5,0,1,18200,53030
67943,3167510,1686,1,0,13.99,9999691,1324252800,1324771200,1324737300,12,24,2011,14,35,5,0,1,52300,435
67944,1123448,1686,1,0,13.99,9999875,1324252800,1324771200,1324737780,12,24,2011,14,43,5,0,1,82488,12300
67945,1123448,1686,1,0,19.99,9999875,1324252800,1324771200,1324737780,12,24,2011,14,43,5,0,1,71990,30030
67946,1216663,1686,1,0,11.99,9999879,1324252800,1324771200,1324737960,12,24,2011,14,46,5,0,2,72311,23012
67947,1807156,1686,1,0,9.49,9999879,1324252800,1324771200,1324738320,12,24,2011,14,52,5,0,1,87692,10012
67948,3109124,1686,2,0,30.98,257871,1324252800,1324771200,1324738440,12,24,2011,14,54,5,0,1,18200,86031
67949,3812750,1686,1,0,9.88,9999661,1324252800,1324771200,1324739040,12,24,2011,15,4,5,0,1,34100,1340
67950,3320135,1686,1,0,11.99,1085053,1324252800,1324771200,1324739820,12,24,2011,15,17,5,0,1,18200,96418
67951,1157099,1686,1,0,12.99,9999879,1324252800,1324771200,1324740240,12,24,2011,15,24,5,0,4,87692,29103
67952,1169474,1686,1,0,6.49,9999879,1324252800,1324771200,1324741380,12,24,2011,15,43,5,0,1,71990,30005
67953,3105080,1686,1,0,7.79,9999691,1324252800,1324771200,1324741860,12,24,2011,15,51,5,0,2,71990,9532
67954,3200857,1686,1,0,8.99,257871,1324252800,1324771200,1324743000,12,24,2011,16,10,5,0,2,34100,15509
67955,1154179,1686,1,0,16.99,9999879,1324252800,1324771200,1324743540,12,24,2011,16,19,5,0,1,18200,96624
67956,3348904,1686,1,0,13.99,9999691,1324252800,1324771200,1324744380,12,24,2011,16,33,5,0,1,52300,435
67957,1400812,1686,1,0,19.99,9999879,1324252800,1324771200,1324746000,12,24,2011,17,0,5,0,1,18200,11030
67958,3825554,1686,1,0,10.99,1085053,1324252800,1324771200,1324746300,12,24,2011,17,5,5,0,2,34100,78574
67959,1179614,1686,1,0,12.49,9999879,1324252800,1324771200,1324746660,12,24,2011,17,11,5,0,1,71990,48
67960,3174649,1686,1,0,7.99,9999691,1324252800,1324771200,1324747320,12,24,2011,17,22,5,0,1,34100,1636
67961,1128082,1686,1,0,11.99,9999879,1324252800,1324771200,1324747320,12,24,2011,17,22,5,0,1,18200,771
67962,1218529,1686,1,0,19.99,9999875,1324252800,1324771200,1324747320,12,24,2011,17,22,5,0,1,80660,95680
67963,1312835,1686,1,0,12.99,9999879,1324252800,1324771200,1324748160,12,24,2011,17,36,5,0,1,87692,32012
67964,1407049,1686,1,0,3.99,9999879,1324252800,1324771200,1324748940,12,24,2011,17,49,5,7,1,4563,11

In [141]:
master_panel_df[master_panel_df['OUTLET'] == 1].groupby('PANID').get_group("3107334")
#master_panel_df[master_panel_df['OUTLET'] == 1].groupby('PANID').describe()

,PANID,WEEK,UNITS,OUTLET,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,YEAR,HOUR_OF_DAY,MINUTE,DAYOFWEEK,SY,GE,VEND,ITEM
45809,3107334,1619,1,1,7.99,651444,1283731200,1284249600,1284299280,9,12,2010,13,48,6,0,1,34100,57636
53657,3107334,1644,1,1,8.61,651444,1298851200,1299369600,1299336540,3,5,2011,14,49,5,0,1,34100,57636
55790,3107334,1651,1,1,8.99,651444,1303084800,1303603200,1303658160,4,24,2011,15,16,6,0,1,34100,57636
60228,3107334,1663,1,1,9.49,651444,1310342400,1310860800,1310494020,7,12,2011,18,7,1,0,1,34100,57636

In [142]:
master_panel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67965 entries, 0 to 67964
Data columns (total 19 columns):
PANID                       67965 non-null object
WEEK                        67965 non-null object
UNITS                       67965 non-null object
OUTLET                      67965 non-null int64
DOLLARS                     67965 non-null object
IRI_KEY                     67965 non-null object
START_TIME_EPOCH_S          67965 non-null int64
END_TIME_EPOCH_S            67965 non-null int64
TRANSACTION_TIME_EPOCH_S    67965 non-null int64
MONTH                       67965 non-null int64
DAY                         67965 non-null int64
YEAR                        67965 non-null int64
HOUR_OF_DAY                 67965 non-null int64
MINUTE                      67965 non-null int64
DAYOFWEEK                   67965 non-null int64
SY                          67965 non-null int64
GE                          67965 non-null int64
VEND                        67965 non-null int64
ITEM                        67965 non-null int64
dtypes: int64(14), object(5)
memory usage: 10.4+ MB

In [143]:
master_panel_df.to_csv("master_panel.csv")

# Clean data and join panel dataframe with drug and groc data for promotion information

In [174]:
master_panel_dict= {}
for row in master_panel_df.iterrows():
    row= row[1]
    week= str(row['WEEK'])
    iri= str(row['IRI_KEY'])
    sy= str (row['SY'])
    ge= str(row['GE'])
    vend= str(row['VEND'])
    item= str(row['ITEM'])
    m_key= (week, iri, sy, ge, vend, item)
#     if m_key in master_panel_dict:
#         raise RuntimeError("{} present in dictionary".format(m_key))
    master_panel_dict[m_key]= 0

test_key= ('1479', '257871', '0', '1', '84173', '75121')
print master_panel_dict[test_key]
print len(master_panel_dict)

0
47711

In [177]:
### WARNING: This cell takes a long time to run.

# for each line of store data
    # split by whitespace
    # choose fields iri_key, week, sy, ge, vend, item, f, d, pr
    # 0-5, 8-10

beer_drug_filenames= []
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year8/beer_drug*"))
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year8/beer_groc*"))
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year9/beer_drug*"))
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year9/beer_groc*"))
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year10/beer_drug*"))
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year10/beer_groc*"))
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year11/beer_drug*"))
beer_drug_filenames.extend(glob.glob(beer_dir+"/Year11/beer_groc*"))

for f in beer_drug_filenames:
    with open(f) as openfile:
        i = 0
        for line in openfile:
            if i != 0:
                vals = line.strip().split(' ')
                vals = [x.strip() for x in vals if len(x.strip()) > 0]
                week = vals[1]
                iri_key = vals[0]
                sy = vals[2]
                ge = vals[3]
                vend = vals[4]
                item = vals[5]
                f = vals[8]
                d = vals[9]
                pr = vals[10]
                m_key = (week, iri_key, sy, ge, vend, item)
                if m_key not in master_panel_dict:
                    continue
                assert master_panel_dict[m_key] == 0 
                master_panel_dict[m_key] = (f, d, pr)
            i += 1

In [179]:
print len(master_panel_dict)
test_key= ('1479', '257871', '0', '1', '84173', '75121')
print master_panel_dict[test_key]

47711
('NONE', '0', '0')

In [200]:
m_df_items= []
i =0
for k,v in master_panel_dict.iteritems():
    m_arr= []
    m_arr.extend(k)
    if type(v) == int:
        v= (np.NAN, np.NAN, np.NAN)
    m_arr.extend(v)
    m_df_items.append((i, m_arr))
    i += 1

# test_key= ('1479', '257871', '0', '1', '84173', '75121')
column_headers= ['WEEK', 'IRI_KEY', 'SY', 'GE', 'VEND', "ITEM", "F", 'D', "PR"]
m_df= pd.DataFrame.from_items(m_df_items, columns=column_headers, orient='index')
m_df

       WEEK  IRI_KEY SY GE   VEND   ITEM     F    D   PR
0      1498  9999879  0  1  88345  10053   NaN  NaN  NaN
1      1662  9999879  0  1  72890    158   NaN  NaN  NaN
2      1673  9999690  0  1  80660  95937   NaN  NaN  NaN
3      1482  9999690  0  1  84173  31130   NaN  NaN  NaN
4      1480  9999691  0  1  18200  53168   NaN  NaN  NaN
5      1584   257871  0  1  34100  57306  NONE    1    1
6      1654  1085053  0  1  71990     48  NONE    0    0
7      1519  9999879  7  5   4563     13   NaN  NaN  NaN
8      1664  9999661  0  1  84173     37   NaN  NaN  NaN
9      1605  9999879  0  1  87692  97102   NaN  NaN  NaN
10     1660  9999875  0  1  71670   7106   NaN  NaN  NaN
11     1595  9999690  0  1  71439  45712   NaN  NaN  NaN
12     1616   257871  0  1  71990  10074   NaN  NaN  NaN
13     1500  1085053  0  1  52300    434  NONE    0    0
14     1671   257871  0  1  18200  96427  NONE    1    1
15     1613  9999691  0  1  62067   4955   NaN  NaN  NaN
16     1666  9999671  0  1  34100  48602   NaN  NaN  NaN
17     1650  1085053  0  1  18200  96867  NONE    0    0
18     1523   257871  0  1  34100  48505  NONE    0    0
19     1678   257871  0  1  18200  86031     A    1    0
20     1530  9999875  0  1  80660  95615   NaN  NaN  NaN
21     1612  9999875  0  1  18200    833   NaN  NaN  NaN
22     1677  1085053  0  1  34100  15243  NONE    0    0
23     1611   257871  0  2  88733  20931  NONE    0    0
24     1663   257871  0  2  34100  57217  NONE    0    0
25     1514   257871  0  1  52300    435  NONE    1    1
26     1576  9999879  0  1  18200  14991   NaN  NaN  NaN
27     1595  9999879  0  1  71439  45712   NaN  NaN  NaN
28     1513  9999879  0  2  18200    884   NaN  NaN  NaN
29     1516  1085053  7  2  86150     14  NONE    0    0
...     ...      ... .. ..    ...    ...   ...  ...  ...
47681  1567  9999691  0  1  18200  86031   NaN  NaN  NaN
47682  1504  9999875  0  1  87692  10014   NaN  NaN  NaN
47683  1595  1085053  0  1  18200  15030  NONE    0    0
47684  1684  9999879  0  1  71990      8   NaN  NaN  NaN
47685  1568  9999879  0  2  72311  33140   NaN  NaN  NaN
47686  1516  9999879  0  1  34100  57636   NaN  NaN  NaN
47687  1659  9999879  0  1  87692  10014   NaN  NaN  NaN
47688  1670  9999875  0  1  18200  53030   NaN  NaN  NaN
47689  1577  9999879  0  1  71439  45712   NaN  NaN  NaN
47690  1640  1085053  0  1  34100  15340  NONE    0    0
47691  1594   257871  0  1  18200  15997  NONE    1    1
47692  1528   257871  7  1  18200  53025  NONE    1    1
47693  1686  9999690  0  1  18200    769   NaN  NaN  NaN
47694  1637  9999879  0  1  71990  30069   NaN  NaN  NaN
47695  1539  1085053  7  1   1348  11111  NONE    0    0
47696  1531  9999690  0  2  18200    939   NaN  NaN  NaN
47697  1677   257871  0  1  34100  15306     A    1    1
47698  1652  9999879  0  2  18200    646   NaN  NaN  NaN
47699  1594  1085053  0  1  18200  96867  NONE    1    0
47700  1536   257871  7  1  52245  12350  NONE    0    0
47701  1508  9999691  0  1  71990  30017   NaN  NaN  NaN
47702  1581  9999690  6  1  35985  12001   NaN  NaN  NaN
47703  1548  9999879  0  3  70310  30703   NaN  NaN  NaN
47704  1596  9999661  0  1  34100  57306   NaN  NaN  NaN
47705  1507   257871  0  1  52300    435  NONE    0    0
47706  1678  9999661  0  1  25569   8187   NaN  NaN  NaN
47707  1485  9999879  0  1  18200  61047   NaN  NaN  NaN
47708  1629  9999690  0  1  18200  79047   NaN  NaN  NaN
47709  1586  1085053  6  1  72883  20031  NONE    0    0
47710  1515  1085053  0  1  34100  57509  NONE    0    0

[47711 rows x 9 columns]

In [201]:
# if Nan found in column for F, D, PR => assume that these stores have no promotions
# NOTE: investigation was made into the use of chains info and masked chain info (see Section 3.6 in the PDF)
# however, after evaluation, it was determined that a promotion done in one store would not apply for one
# in a different Geographic location

columns= ['F','D','PR']
replace= ['NONE','0','0']
for i in xrange(3):
    c= columns[i]
    r= replace[i]
    m_mask= pd.isnull(m_df[c])
    m_df[c][m_mask]= r

m_df

       WEEK  IRI_KEY SY GE   VEND   ITEM     F  D PR
0      1498  9999879  0  1  88345  10053  NONE  0  0
1      1662  9999879  0  1  72890    158  NONE  0  0
2      1673  9999690  0  1  80660  95937  NONE  0  0
3      1482  9999690  0  1  84173  31130  NONE  0  0
4      1480  9999691  0  1  18200  53168  NONE  0  0
5      1584   257871  0  1  34100  57306  NONE  1  1
6      1654  1085053  0  1  71990     48  NONE  0  0
7      1519  9999879  7  5   4563     13  NONE  0  0
8      1664  9999661  0  1  84173     37  NONE  0  0
9      1605  9999879  0  1  87692  97102  NONE  0  0
10     1660  9999875  0  1  71670   7106  NONE  0  0
11     1595  9999690  0  1  71439  45712  NONE  0  0
12     1616   257871  0  1  71990  10074  NONE  0  0
13     1500  1085053  0  1  52300    434  NONE  0  0
14     1671   257871  0  1  18200  96427  NONE  1  1
15     1613  9999691  0  1  62067   4955  NONE  0  0
16     1666  9999671  0  1  34100  48602  NONE  0  0
17     1650  1085053  0  1  18200  96867  NONE  0  0
18     1523   257871  0  1  34100  48505  NONE  0  0
19     1678   257871  0  1  18200  86031     A  1  0
20     1530  9999875  0  1  80660  95615  NONE  0  0
21     1612  9999875  0  1  18200    833  NONE  0  0
22     1677  1085053  0  1  34100  15243  NONE  0  0
23     1611   257871  0  2  88733  20931  NONE  0  0
24     1663   257871  0  2  34100  57217  NONE  0  0
25     1514   257871  0  1  52300    435  NONE  1  1
26     1576  9999879  0  1  18200  14991  NONE  0  0
27     1595  9999879  0  1  71439  45712  NONE  0  0
28     1513  9999879  0  2  18200    884  NONE  0  0
29     1516  1085053  7  2  86150     14  NONE  0  0
...     ...      ... .. ..    ...    ...   ... .. ..
47681  1567  9999691  0  1  18200  86031  NONE  0  0
47682  1504  9999875  0  1  87692  10014  NONE  0  0
47683  1595  1085053  0  1  18200  15030  NONE  0  0
47684  1684  9999879  0  1  71990      8  NONE  0  0
47685  1568  9999879  0  2  72311  33140  NONE  0  0
47686  1516  9999879  0  1  34100  57636  NONE  0  0
47687  1659  9999879  0  1  87692  10014  NONE  0  0
47688  1670  9999875  0  1  18200  53030  NONE  0  0
47689  1577  9999879  0  1  71439  45712  NONE  0  0
47690  1640  1085053  0  1  34100  15340  NONE  0  0
47691  1594   257871  0  1  18200  15997  NONE  1  1
47692  1528   257871  7  1  18200  53025  NONE  1  1
47693  1686  9999690  0  1  18200    769  NONE  0  0
47694  1637  9999879  0  1  71990  30069  NONE  0  0
47695  1539  1085053  7  1   1348  11111  NONE  0  0
47696  1531  9999690  0  2  18200    939  NONE  0  0
47697  1677   257871  0  1  34100  15306     A  1  1
47698  1652  9999879  0  2  18200    646  NONE  0  0
47699  1594  1085053  0  1  18200  96867  NONE  1  0
47700  1536   257871  7  1  52245  12350  NONE  0  0
47701  1508  9999691  0  1  71990  30017  NONE  0  0
47702  1581  9999690  6  1  35985  12001  NONE  0  0
47703  1548  9999879  0  3  70310  30703  NONE  0  0
47704  1596  9999661  0  1  34100  57306  NONE  0  0
47705  1507   257871  0  1  52300    435  NONE  0  0
47706  1678  9999661  0  1  25569   8187  NONE  0  0
47707  1485  9999879  0  1  18200  61047  NONE  0  0
47708  1629  9999690  0  1  18200  79047  NONE  0  0
47709  1586  1085053  6  1  72883  20031  NONE  0  0
47710  1515  1085053  0  1  34100  57509  NONE  0  0

[47711 rows x 9 columns]

In [207]:
m_df['SY'] = m_df['SY'].astype(int)
m_df['GE'] = m_df['GE'].astype(int)
m_df['VEND'] = m_df['VEND'].astype(int)
m_df['ITEM'] = m_df['ITEM'].astype(int)
m_df['D'] = m_df['D'].astype(int)
m_df['PR'] = m_df['PR'].astype(int)
m_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47711 entries, 0 to 47710
Data columns (total 9 columns):
WEEK       47711 non-null object
IRI_KEY    47711 non-null object
SY         47711 non-null int64
GE         47711 non-null int64
VEND       47711 non-null int64
ITEM       47711 non-null int64
F          47711 non-null object
D          47711 non-null int64
PR         47711 non-null int64
dtypes: int64(6), object(3)
memory usage: 3.6+ MB

In [209]:
master_merged_df = pd.merge(master_panel_df, m_df, on=['WEEK', 'IRI_KEY','SY', 'GE', 'VEND','ITEM'])
master_merged_df

,PANID,WEEK,UNITS,OUTLET,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,...,HOUR_OF_DAY,MINUTE,DAYOFWEEK,SY,GE,VEND,ITEM,F,D,PR
0,3369595,1479,4,0,10,257871,1199059200,1199577600,1199092980,12,...,9,23,0,0,1,84173,75121,NONE,0,0
1,3369595,1479,3,0,7.5,257871,1199059200,1199577600,1199197080,1,...,14,18,1,0,1,84173,75121,NONE,0,0
2,3369595,1479,4,0,10,257871,1199059200,1199577600,1199464740,1,...,16,39,4,0,1,84173,75121,NONE,0,0
3,3834697,1479,1,0,8.99,257871,1199059200,1199577600,1199094480,12,...,9,48,0,0,1,34100,17636,NONE,0,0
4,3308189,1479,1,0,14.68,9999690,1199059200,1199577600,1199095200,12,...,10,0,0,0,1,18200,53168,NONE,0,0
5,3176552,1479,1,0,14.68,9999690,1199059200,1199577600,1199461680,1,...,15,48,4,0,1,18200,53168,NONE,0,0
6,3176552,1479,1,0,14.68,9999690,1199059200,1199577600,1199540940,1,...,13,49,5,0,1,18200,53168,NONE,0,0
7,3308189,1479,1,0,14.68,9999690,1199059200,1199577600,1199611620,1,...,9,27,6,0,1,18200,53168,NONE,0,0
8,3812222,1479,1,0,10.98,9999691,1199059200,1199577600,1199095440,12,...,10,4,0,0,1,34100,57340,NONE,0,0
9,3356188,1479,1,0,8.89,9999691,1199059200,1199577600,1199096700,12,...,10,25,0,0,1,71990,30069,NONE,0,0
10,3315523,1479,1,0,14.68,9999690,1199059200,1199577600,1199097180,12,...,10,33,0,0,1,34100,57306,NONE,0,0
11,3106526,1479,2,0,29.36,9999690,1199059200,1199577600,1199112180,12,...,14,43,0,0,1,34100,57306,NONE,0,0
12,3158634,1479,3,0,44.04,9999690,1199059200,1199577600,1199265540,1,...,9,19,2,0,1,34100,57306,NONE,0,0
13,3187542,1479,1,0,14.68,9999690,1199059200,1199577600,1199288340,1,...,15,39,2,0,1,34100,57306,NONE,0,0
14,3359349,1479,2,0,29.36,9999690,1199059200,1199577600,1199375040,1,...,15,44,3,0,1,34100,57306,NONE,0,0
15,3341818,1479,1,0,10.99,257871,1199059200,1199577600,1199098380,12,...,10,53,0,0,1,18200,96418,NONE,2,0
16,3334490,1479,1,0,7.49,9999691,1199059200,1199577600,1199099460,12,...,11,11,0,0,2,80660,95605,NONE,0,0
17,3358846,1479,1,0,5.99,9999690,1199059200,1199577600,1199099520,12,...,11,12,0,0,1,84173,32130,NONE,0,0
18,3358846,1479,1,0,6.19,9999690,1199059200,1199577600,1199099520,12,...,11,12,0,0,1,84173,30130,NONE,0,0
19,3160101,1479,1,0,13.91,9999661,1199059200,1199577600,1199099880,12,...,11,18,0,0,1,34100,57306,NONE,0,0
20,3821710,1479,1,0,13.91,9999661,1199059200,1199577600,1199109300,12,...,13,55,0,0,1,34100,57306,NONE,0,0
21,3837831,1479,1,0,13.91,9999661,1199059200,1199577600,1199460420,1,...,15,27,4,0,1,34100,57306,NONE,0,0
22,3173575,1479,1,0,11.99,1085053,1199059200,1199577600,1199100060,12,...,11,21,0,0,1,88345,10053,NONE,0,0
23,3330381,1479,1,0,8.79,9999690,1199059200,1199577600,1199100240,12,...,11,24,0,0,3,18200,697,NONE,0,0
24,3140731,1479,1,0,8.79,9999690,1199059200,1199577600,1199108340,12,...,13,39,0,0,3,18200,697,NONE,0,0
25,3330381,1479,1,0,6.59,9999690,1199059200,1199577600,1199100240,12,...,11,24,0,0,1,18200,7995,NONE,0,0
26,3353623,1479,1,0,4.99,9999690,1199059200,1199577600,1199100540,12,...,11,29,0,0,1,18200,834,NONE,0,0
27,3333377,1479,1,0,12.21,257871,1199059200,1199577600,1199100600,12,...,11,30,0,0,1,34100,57340,NONE,0,0
28,3307264,1479,1,0,12.21,257871,1199059200,1199577600,1199466660,1,...,17,11,4,0,1,34100,57340,NONE,0,0
29,3117333,1479,1,0,6.05,9999661,1199059200,1199577600,1199102220,12,...,11,57,0,0,1,51460,51460,NONE,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,3135020,1686,1,0,12.99,1085053,1324252800,1324771200,1324728840,12,...,12,14,5,0,1,87692,10014,NONE,0,0
67936,3327072,1686,1,0,8.29,9999691,1324252800,1324771200,1324729620,12,...,12,27,5,6,1,35985,6064,NONE,0,0
67937,3327072,1686,1,0,5.29,9999691,1324252800,1324771200,1324729620,12,...,12,27,5,0,1,34100,17505,NONE,0,0
67938,3327072,1686,1,0,7.49,9999691,1324252800,1324771200,1324729620,12,...,12,27,5,0,2,89961,10020,NONE,0,0
67939,1142737,1686,1,0,16.99,9999875,1324252800,1324771200,1324731180,12,...,12,53,5,0,1,18200,53308,NONE,0,0
67940,3307926,1686,1,0,15.99,9999691,1324252800,1324771200,1324731240,12,...,12,54,5,0,1,71990,30071,NONE,0,0
67941,3402438,1686,1,0,12.99,9999661,1324252800,1324771200,1324731480,12,...,12,58,5,0,1,52300,434,NONE,0,0
67942,3352260,1686,1,0,5.29,9999671,1324252800,1324771200,1324731660,12,...,13,1,5,0,1,18200,670,NONE,0,0
67943,1141051,1686,1,0,13.99,9999875,1324252800,1324771200,1324732020,12,...,13,7,5,0,1,72890,188,NONE,0,0
67944,3107334,1686,1,0,4.99,9999661,1324252800,1324771200,1324732920,12,...,13,22,5,0,1,34100,357,NONE,0,0
67945,3327072,1686,1,0,14.99,9999691,1324252800,1324771200,1324734660,12,...,13,51,5,0,1,83820,10403,NONE,0,0
67946,3801365,1686,1,0,12.99,257871,1324252800,1324771200,1324735260,12,...,14,1,5,0,2,34100,75866,NONE,0,1
67947,3139253,1686,1,0,7.49,9999690,1324252800,1324771200,1324735620,12,...,14,7,5,0,1,89961,920,NONE,0,0
67948,1811653,1686,1,0,8.99,9999879,1324252800,1324771200,1324735680,12,...,14,8,5,0,1,83820,12360,NONE,0,0
67949,1138008,1686,1,0,12.99,9999875,1324252800,1324771200,1324736400,12,...,14,20,5,7,1,43041,4012,NONE,0,0
67950,1200725,1686,1,0,7.29,9999879,1324252800,1324771200,1324737000,12,...,14,30,5,0,1,18200,5989,NONE,0,0
67951,1200725,1686,1,0,16.99,9999879,1324252800,1324771200,1324737000,12,...,14,30,5,0,1,71990,30078,NONE,0,0
67952,1123448,1686,1,0,13.99,9999875,1324252800,1324771200,1324737780,12,...,14,43,5,0,1,82488,12300,NONE,0,0
67953,1216663,1686,1,0,11.99,9999879,1324252800,1324771200,1324737960,12,...,14,46,5,0,2,72311,23012,NONE,0,0
67954,1807156,1686,1,0,9.49,9999879,1324252800,1324771200,1324738320,12,...,14,52,5,0,1,87692,10012,NONE,0,0
67955,3109124,1686,2,0,30.98,257871,1324252800,1324771200,1324738440,12,...,14,54,5,0,1,18200,86031,NONE,0,0
67956,3812750,1686,1,0,9.88,9999661,1324252800,1324771200,1324739040,12,...,15,4,5,0,1,34100,1340,NONE,0,0
67957,1169474,1686,1,0,6.49,9999879,1324252800,1324771200,1324741380,12,...,15,43,5,0,1,71990,30005,NONE,0,0
67958,3105080,1686,1,0,7.79,9999691,1324252800,1324771200,1324741860,12,...,15,51,5,0,2,71990,9532,NONE,0,0
67959,3200857,1686,1,0,8.99,257871,1324252800,1324771200,1324743000,12,...,16,10,5,0,2,34100,15509,NONE,0,0
67960,1154179,1686,1,0,16.99,9999879,1324252800,1324771200,1324743540,12,...,16,19,5,0,1,18200,96624,NONE,0,0
67961,3174649,1686,1,0,7.99,9999691,1324252800,1324771200,1324747320,12,...,17,22,5,0,1,34100,1636,NONE,0,0
67962,1218529,1686,1,0,19.99,9999875,1324252800,1324771200,1324747320,12,...,17,22,5,0,1,80660,95680,NONE,0,0
67963,1312835,1686,1,0,12.99,9999879,1324252800,1324771200,1324748160,12,...,17,36,5,0,1,87692,32012,NONE,0,0
67964,1407049,1686,1,0,3.99,9999879,1324252800,1324771200,1324748940,12,...,17,49,5,7,1,4563,11,NONE,0,0

In [210]:
master_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67965 entries, 0 to 67964
Data columns (total 22 columns):
PANID                       67965 non-null object
WEEK                        67965 non-null object
UNITS                       67965 non-null object
OUTLET                      67965 non-null int64
DOLLARS                     67965 non-null object
IRI_KEY                     67965 non-null object
START_TIME_EPOCH_S          67965 non-null int64
END_TIME_EPOCH_S            67965 non-null int64
TRANSACTION_TIME_EPOCH_S    67965 non-null int64
MONTH                       67965 non-null int64
DAY                         67965 non-null int64
YEAR                        67965 non-null int64
HOUR_OF_DAY                 67965 non-null int64
MINUTE                      67965 non-null int64
DAYOFWEEK                   67965 non-null int64
SY                          67965 non-null int64
GE                          67965 non-null int64
VEND                        67965 non-null int64
ITEM                        67965 non-null int64
F                           67965 non-null object
D                           67965 non-null int64
PR                          67965 non-null int64
dtypes: int64(16), object(6)
memory usage: 11.9+ MB

In [212]:
master_merged_df.to_csv("master_merged_panel.csv", index=False)

---
# Continue Cleaning Data

In [220]:
# Drop grocery and mass store types
# There are not enough stores of these types to do proper analysis
m_mask= master_merged_df["OUTLET"] == 0
master_merged_df= master_merged_df[m_mask]
master_merged_df.drop(["OUTLET"], inplace=True, axis=1)
master_merged_df

,PANID,WEEK,UNITS,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,...,HOUR_OF_DAY,MINUTE,DAYOFWEEK,SY,GE,VEND,ITEM,F,D,PR
0,3369595,1479,4,10,257871,1199059200,1199577600,1199092980,12,31,...,9,23,0,0,1,84173,75121,NONE,0,0
1,3369595,1479,3,7.5,257871,1199059200,1199577600,1199197080,1,1,...,14,18,1,0,1,84173,75121,NONE,0,0
2,3369595,1479,4,10,257871,1199059200,1199577600,1199464740,1,4,...,16,39,4,0,1,84173,75121,NONE,0,0
3,3834697,1479,1,8.99,257871,1199059200,1199577600,1199094480,12,31,...,9,48,0,0,1,34100,17636,NONE,0,0
4,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199095200,12,31,...,10,0,0,0,1,18200,53168,NONE,0,0
5,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199461680,1,4,...,15,48,4,0,1,18200,53168,NONE,0,0
6,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199540940,1,5,...,13,49,5,0,1,18200,53168,NONE,0,0
7,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199611620,1,6,...,9,27,6,0,1,18200,53168,NONE,0,0
8,3812222,1479,1,10.98,9999691,1199059200,1199577600,1199095440,12,31,...,10,4,0,0,1,34100,57340,NONE,0,0
9,3356188,1479,1,8.89,9999691,1199059200,1199577600,1199096700,12,31,...,10,25,0,0,1,71990,30069,NONE,0,0
10,3315523,1479,1,14.68,9999690,1199059200,1199577600,1199097180,12,31,...,10,33,0,0,1,34100,57306,NONE,0,0
11,3106526,1479,2,29.36,9999690,1199059200,1199577600,1199112180,12,31,...,14,43,0,0,1,34100,57306,NONE,0,0
12,3158634,1479,3,44.04,9999690,1199059200,1199577600,1199265540,1,2,...,9,19,2,0,1,34100,57306,NONE,0,0
13,3187542,1479,1,14.68,9999690,1199059200,1199577600,1199288340,1,2,...,15,39,2,0,1,34100,57306,NONE,0,0
14,3359349,1479,2,29.36,9999690,1199059200,1199577600,1199375040,1,3,...,15,44,3,0,1,34100,57306,NONE,0,0
15,3341818,1479,1,10.99,257871,1199059200,1199577600,1199098380,12,31,...,10,53,0,0,1,18200,96418,NONE,2,0
16,3334490,1479,1,7.49,9999691,1199059200,1199577600,1199099460,12,31,...,11,11,0,0,2,80660,95605,NONE,0,0
17,3358846,1479,1,5.99,9999690,1199059200,1199577600,1199099520,12,31,...,11,12,0,0,1,84173,32130,NONE,0,0
18,3358846,1479,1,6.19,9999690,1199059200,1199577600,1199099520,12,31,...,11,12,0,0,1,84173,30130,NONE,0,0
19,3160101,1479,1,13.91,9999661,1199059200,1199577600,1199099880,12,31,...,11,18,0,0,1,34100,57306,NONE,0,0
20,3821710,1479,1,13.91,9999661,1199059200,1199577600,1199109300,12,31,...,13,55,0,0,1,34100,57306,NONE,0,0
21,3837831,1479,1,13.91,9999661,1199059200,1199577600,1199460420,1,4,...,15,27,4,0,1,34100,57306,NONE,0,0
22,3173575,1479,1,11.99,1085053,1199059200,1199577600,1199100060,12,31,...,11,21,0,0,1,88345,10053,NONE,0,0
23,3330381,1479,1,8.79,9999690,1199059200,1199577600,1199100240,12,31,...,11,24,0,0,3,18200,697,NONE,0,0
24,3140731,1479,1,8.79,9999690,1199059200,1199577600,1199108340,12,31,...,13,39,0,0,3,18200,697,NONE,0,0
25,3330381,1479,1,6.59,9999690,1199059200,1199577600,1199100240,12,31,...,11,24,0,0,1,18200,7995,NONE,0,0
26,3353623,1479,1,4.99,9999690,1199059200,1199577600,1199100540,12,31,...,11,29,0,0,1,18200,834,NONE,0,0
27,3333377,1479,1,12.21,257871,1199059200,1199577600,1199100600,12,31,...,11,30,0,0,1,34100,57340,NONE,0,0
28,3307264,1479,1,12.21,257871,1199059200,1199577600,1199466660,1,4,...,17,11,4,0,1,34100,57340,NONE,0,0
29,3117333,1479,1,6.05,9999661,1199059200,1199577600,1199102220,12,31,...,11,57,0,0,1,51460,51460,NONE,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,3135020,1686,1,12.99,1085053,1324252800,1324771200,1324728840,12,24,...,12,14,5,0,1,87692,10014,NONE,0,0
67936,3327072,1686,1,8.29,9999691,1324252800,1324771200,1324729620,12,24,...,12,27,5,6,1,35985,6064,NONE,0,0
67937,3327072,1686,1,5.29,9999691,1324252800,1324771200,1324729620,12,24,...,12,27,5,0,1,34100,17505,NONE,0,0
67938,3327072,1686,1,7.49,9999691,1324252800,1324771200,1324729620,12,24,...,12,27,5,0,2,89961,10020,NONE,0,0
67939,1142737,1686,1,16.99,9999875,1324252800,1324771200,1324731180,12,24,...,12,53,5,0,1,18200,53308,NONE,0,0
67940,3307926,1686,1,15.99,9999691,1324252800,1324771200,1324731240,12,24,...,12,54,5,0,1,71990,30071,NONE,0,0
67941,3402438,1686,1,12.99,9999661,1324252800,1324771200,1324731480,12,24,...,12,58,5,0,1,52300,434,NONE,0,0
67942,3352260,1686,1,5.29,9999671,1324252800,1324771200,1324731660,12,24,...,13,1,5,0,1,18200,670,NONE,0,0
67943,1141051,1686,1,13.99,9999875,1324252800,1324771200,1324732020,12,24,...,13,7,5,0,1,72890,188,NONE,0,0
67944,3107334,1686,1,4.99,9999661,1324252800,1324771200,1324732920,12,24,...,13,22,5,0,1,34100,357,NONE,0,0
67945,3327072,1686,1,14.99,9999691,1324252800,1324771200,1324734660,12,24,...,13,51,5,0,1,83820,10403,NONE,0,0
67946,3801365,1686,1,12.99,257871,1324252800,1324771200,1324735260,12,24,...,14,1,5,0,2,34100,75866,NONE,0,1
67947,3139253,1686,1,7.49,9999690,1324252800,1324771200,1324735620,12,24,...,14,7,5,0,1,89961,920,NONE,0,0
67948,1811653,1686,1,8.99,9999879,1324252800,1324771200,1324735680,12,24,...,14,8,5,0,1,83820,12360,NONE,0,0
67949,1138008,1686,1,12.99,9999875,1324252800,1324771200,1324736400,12,24,...,14,20,5,7,1,43041,4012,NONE,0,0
67950,1200725,1686,1,7.29,9999879,1324252800,1324771200,1324737000,12,24,...,14,30,5,0,1,18200,5989,NONE,0,0
67951,1200725,1686,1,16.99,9999879,1324252800,1324771200,1324737000,12,24,...,14,30,5,0,1,71990,30078,NONE,0,0
67952,1123448,1686,1,13.99,9999875,1324252800,1324771200,1324737780,12,24,...,14,43,5,0,1,82488,12300,NONE,0,0
67953,1216663,1686,1,11.99,9999879,1324252800,1324771200,1324737960,12,24,...,14,46,5,0,2,72311,23012,NONE,0,0
67954,1807156,1686,1,9.49,9999879,1324252800,1324771200,1324738320,12,24,...,14,52,5,0,1,87692,10012,NONE,0,0
67955,3109124,1686,2,30.98,257871,1324252800,1324771200,1324738440,12,24,...,14,54,5,0,1,18200,86031,NONE,0,0
67956,3812750,1686,1,9.88,9999661,1324252800,1324771200,1324739040,12,24,...,15,4,5,0,1,34100,1340,NONE,0,0
67957,1169474,1686,1,6.49,9999879,1324252800,1324771200,1324741380,12,24,...,15,43,5,0,1,71990,30005,NONE,0,0
67958,3105080,1686,1,7.79,9999691,1324252800,1324771200,1324741860,12,24,...,15,51,5,0,2,71990,9532,NONE,0,0
67959,3200857,1686,1,8.99,257871,1324252800,1324771200,1324743000,12,24,...,16,10,5,0,2,34100,15509,NONE,0,0
67960,1154179,1686,1,16.99,9999879,1324252800,1324771200,1324743540,12,24,...,16,19,5,0,1,18200,96624,NONE,0,0
67961,3174649,1686,1,7.99,9999691,1324252800,1324771200,1324747320,12,24,...,17,22,5,0,1,34100,1636,NONE,0,0
67962,1218529,1686,1,19.99,9999875,1324252800,1324771200,1324747320,12,24,...,17,22,5,0,1,80660,95680,NONE,0,0
67963,1312835,1686,1,12.99,9999879,1324252800,1324771200,1324748160,12,24,...,17,36,5,0,1,87692,32012,NONE,0,0
67964,1407049,1686,1,3.99,9999879,1324252800,1324771200,1324748940,12,24,...,17,49,5,7,1,4563,11,NONE,0,0

In [214]:
# replace PClass, Embarked, SibSp, Parch with separate columns as they are enumerations (Hot 1 Encoding)
def hot1_encoding(df, index):
    print "\nApplying Hot 1 encoding method to column {}".format(index)
    #
    s= df[index]
    new_df= df
    #
    m_value_counts= s.value_counts()
    print "m_value_counts={}".format(m_value_counts)

    for k,v in m_value_counts.iteritems():
        uv_mask= (df[index] == k).astype(float)
        new_field= "Field_sourceCol_{}_value_{}".format(index, k)
        new_df[new_field]= uv_mask

    del new_df[index]

In [228]:
#
# manage'F' and 'D' column, which contains enumerations
#
s_f= master_merged_df['F']
s_f.value_counts()

NONE    66341
A         940
B         470
C         109
A+         31
dtype: int64

In [229]:
s_d= master_merged_df['D']
s_d.value_counts()

0    63355
1     3999
2      537
dtype: int64

In [230]:
hot1_encoding(master_merged_df, 'F')

Applying Hot 1 encoding method to column F
m_value_counts=NONE    66341
A         940
B         470
C         109
A+         31
dtype: int64

In [231]:
master_merged_df

,PANID,WEEK,UNITS,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,...,GE,VEND,ITEM,D,PR,Field_sourceCol_F_value_NONE,Field_sourceCol_F_value_A,Field_sourceCol_F_value_B,Field_sourceCol_F_value_C,Field_sourceCol_F_value_A+
0,3369595,1479,4,10,257871,1199059200,1199577600,1199092980,12,31,...,1,84173,75121,0,0,1,0,0,0,0
1,3369595,1479,3,7.5,257871,1199059200,1199577600,1199197080,1,1,...,1,84173,75121,0,0,1,0,0,0,0
2,3369595,1479,4,10,257871,1199059200,1199577600,1199464740,1,4,...,1,84173,75121,0,0,1,0,0,0,0
3,3834697,1479,1,8.99,257871,1199059200,1199577600,1199094480,12,31,...,1,34100,17636,0,0,1,0,0,0,0
4,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199095200,12,31,...,1,18200,53168,0,0,1,0,0,0,0
5,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199461680,1,4,...,1,18200,53168,0,0,1,0,0,0,0
6,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199540940,1,5,...,1,18200,53168,0,0,1,0,0,0,0
7,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199611620,1,6,...,1,18200,53168,0,0,1,0,0,0,0
8,3812222,1479,1,10.98,9999691,1199059200,1199577600,1199095440,12,31,...,1,34100,57340,0,0,1,0,0,0,0
9,3356188,1479,1,8.89,9999691,1199059200,1199577600,1199096700,12,31,...,1,71990,30069,0,0,1,0,0,0,0
10,3315523,1479,1,14.68,9999690,1199059200,1199577600,1199097180,12,31,...,1,34100,57306,0,0,1,0,0,0,0
11,3106526,1479,2,29.36,9999690,1199059200,1199577600,1199112180,12,31,...,1,34100,57306,0,0,1,0,0,0,0
12,3158634,1479,3,44.04,9999690,1199059200,1199577600,1199265540,1,2,...,1,34100,57306,0,0,1,0,0,0,0
13,3187542,1479,1,14.68,9999690,1199059200,1199577600,1199288340,1,2,...,1,34100,57306,0,0,1,0,0,0,0
14,3359349,1479,2,29.36,9999690,1199059200,1199577600,1199375040,1,3,...,1,34100,57306,0,0,1,0,0,0,0
15,3341818,1479,1,10.99,257871,1199059200,1199577600,1199098380,12,31,...,1,18200,96418,2,0,1,0,0,0,0
16,3334490,1479,1,7.49,9999691,1199059200,1199577600,1199099460,12,31,...,2,80660,95605,0,0,1,0,0,0,0
17,3358846,1479,1,5.99,9999690,1199059200,1199577600,1199099520,12,31,...,1,84173,32130,0,0,1,0,0,0,0
18,3358846,1479,1,6.19,9999690,1199059200,1199577600,1199099520,12,31,...,1,84173,30130,0,0,1,0,0,0,0
19,3160101,1479,1,13.91,9999661,1199059200,1199577600,1199099880,12,31,...,1,34100,57306,0,0,1,0,0,0,0
20,3821710,1479,1,13.91,9999661,1199059200,1199577600,1199109300,12,31,...,1,34100,57306,0,0,1,0,0,0,0
21,3837831,1479,1,13.91,9999661,1199059200,1199577600,1199460420,1,4,...,1,34100,57306,0,0,1,0,0,0,0
22,3173575,1479,1,11.99,1085053,1199059200,1199577600,1199100060,12,31,...,1,88345,10053,0,0,1,0,0,0,0
23,3330381,1479,1,8.79,9999690,1199059200,1199577600,1199100240,12,31,...,3,18200,697,0,0,1,0,0,0,0
24,3140731,1479,1,8.79,9999690,1199059200,1199577600,1199108340,12,31,...,3,18200,697,0,0,1,0,0,0,0
25,3330381,1479,1,6.59,9999690,1199059200,1199577600,1199100240,12,31,...,1,18200,7995,0,0,1,0,0,0,0
26,3353623,1479,1,4.99,9999690,1199059200,1199577600,1199100540,12,31,...,1,18200,834,0,0,1,0,0,0,0
27,3333377,1479,1,12.21,257871,1199059200,1199577600,1199100600,12,31,...,1,34100,57340,0,0,1,0,0,0,0
28,3307264,1479,1,12.21,257871,1199059200,1199577600,1199466660,1,4,...,1,34100,57340,0,0,1,0,0,0,0
29,3117333,1479,1,6.05,9999661,1199059200,1199577600,1199102220,12,31,...,1,51460,51460,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,3135020,1686,1,12.99,1085053,1324252800,1324771200,1324728840,12,24,...,1,87692,10014,0,0,1,0,0,0,0
67936,3327072,1686,1,8.29,9999691,1324252800,1324771200,1324729620,12,24,...,1,35985,6064,0,0,1,0,0,0,0
67937,3327072,1686,1,5.29,9999691,1324252800,1324771200,1324729620,12,24,...,1,34100,17505,0,0,1,0,0,0,0
67938,3327072,1686,1,7.49,9999691,1324252800,1324771200,1324729620,12,24,...,2,89961,10020,0,0,1,0,0,0,0
67939,1142737,1686,1,16.99,9999875,1324252800,1324771200,1324731180,12,24,...,1,18200,53308,0,0,1,0,0,0,0
67940,3307926,1686,1,15.99,9999691,1324252800,1324771200,1324731240,12,24,...,1,71990,30071,0,0,1,0,0,0,0
67941,3402438,1686,1,12.99,9999661,1324252800,1324771200,1324731480,12,24,...,1,52300,434,0,0,1,0,0,0,0
67942,3352260,1686,1,5.29,9999671,1324252800,1324771200,1324731660,12,24,...,1,18200,670,0,0,1,0,0,0,0
67943,1141051,1686,1,13.99,9999875,1324252800,1324771200,1324732020,12,24,...,1,72890,188,0,0,1,0,0,0,0
67944,3107334,1686,1,4.99,9999661,1324252800,1324771200,1324732920,12,24,...,1,34100,357,0,0,1,0,0,0,0
67945,3327072,1686,1,14.99,9999691,1324252800,1324771200,1324734660,12,24,...,1,83820,10403,0,0,1,0,0,0,0
67946,3801365,1686,1,12.99,257871,1324252800,1324771200,1324735260,12,24,...,2,34100,75866,0,1,1,0,0,0,0
67947,3139253,1686,1,7.49,9999690,1324252800,1324771200,1324735620,12,24,...,1,89961,920,0,0,1,0,0,0,0
67948,1811653,1686,1,8.99,9999879,1324252800,1324771200,1324735680,12,24,...,1,83820,12360,0,0,1,0,0,0,0
67949,1138008,1686,1,12.99,9999875,1324252800,1324771200,1324736400,12,24,...,1,43041,4012,0,0,1,0,0,0,0
67950,1200725,1686,1,7.29,9999879,1324252800,1324771200,1324737000,12,24,...,1,18200,5989,0,0,1,0,0,0,0
67951,1200725,1686,1,16.99,9999879,1324252800,1324771200,1324737000,12,24,...,1,71990,30078,0,0,1,0,0,0,0
67952,1123448,1686,1,13.99,9999875,1324252800,1324771200,1324737780,12,24,...,1,82488,12300,0,0,1,0,0,0,0
67953,1216663,1686,1,11.99,9999879,1324252800,1324771200,1324737960,12,24,...,2,72311,23012,0,0,1,0,0,0,0
67954,1807156,1686,1,9.49,9999879,1324252800,1324771200,1324738320,12,24,...,1,87692,10012,0,0,1,0,0,0,0
67955,3109124,1686,2,30.98,257871,1324252800,1324771200,1324738440,12,24,...,1,18200,86031,0,0,1,0,0,0,0
67956,3812750,1686,1,9.88,9999661,1324252800,1324771200,1324739040,12,24,...,1,34100,1340,0,0,1,0,0,0,0
67957,1169474,1686,1,6.49,9999879,1324252800,1324771200,1324741380,12,24,...,1,71990,30005,0,0,1,0,0,0,0
67958,3105080,1686,1,7.79,9999691,1324252800,1324771200,1324741860,12,24,...,2,71990,9532,0,0,1,0,0,0,0
67959,3200857,1686,1,8.99,257871,1324252800,1324771200,1324743000,12,24,...,2,34100,15509,0,0,1,0,0,0,0
67960,1154179,1686,1,16.99,9999879,1324252800,1324771200,1324743540,12,24,...,1,18200,96624,0,0,1,0,0,0,0
67961,3174649,1686,1,7.99,9999691,1324252800,1324771200,1324747320,12,24,...,1,34100,1636,0,0,1,0,0,0,0
67962,1218529,1686,1,19.99,9999875,1324252800,1324771200,1324747320,12,24,...,1,80660,95680,0,0,1,0,0,0,0
67963,1312835,1686,1,12.99,9999879,1324252800,1324771200,1324748160,12,24,...,1,87692,32012,0,0,1,0,0,0,0
67964,1407049,1686,1,3.99,9999879,1324252800,1324771200,1324748940,12,24,...,1,4563,11,0,0,1,0,0,0,0

In [232]:
hot1_encoding(master_merged_df, 'D')

Applying Hot 1 encoding method to column D
m_value_counts=0    63355
1     3999
2      537
dtype: int64

In [233]:
master_merged_df

,PANID,WEEK,UNITS,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,...,ITEM,PR,Field_sourceCol_F_value_NONE,Field_sourceCol_F_value_A,Field_sourceCol_F_value_B,Field_sourceCol_F_value_C,Field_sourceCol_F_value_A+,Field_sourceCol_D_value_0,Field_sourceCol_D_value_1,Field_sourceCol_D_value_2
0,3369595,1479,4,10,257871,1199059200,1199577600,1199092980,12,31,...,75121,0,1,0,0,0,0,1,0,0
1,3369595,1479,3,7.5,257871,1199059200,1199577600,1199197080,1,1,...,75121,0,1,0,0,0,0,1,0,0
2,3369595,1479,4,10,257871,1199059200,1199577600,1199464740,1,4,...,75121,0,1,0,0,0,0,1,0,0
3,3834697,1479,1,8.99,257871,1199059200,1199577600,1199094480,12,31,...,17636,0,1,0,0,0,0,1,0,0
4,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199095200,12,31,...,53168,0,1,0,0,0,0,1,0,0
5,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199461680,1,4,...,53168,0,1,0,0,0,0,1,0,0
6,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199540940,1,5,...,53168,0,1,0,0,0,0,1,0,0
7,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199611620,1,6,...,53168,0,1,0,0,0,0,1,0,0
8,3812222,1479,1,10.98,9999691,1199059200,1199577600,1199095440,12,31,...,57340,0,1,0,0,0,0,1,0,0
9,3356188,1479,1,8.89,9999691,1199059200,1199577600,1199096700,12,31,...,30069,0,1,0,0,0,0,1,0,0
10,3315523,1479,1,14.68,9999690,1199059200,1199577600,1199097180,12,31,...,57306,0,1,0,0,0,0,1,0,0
11,3106526,1479,2,29.36,9999690,1199059200,1199577600,1199112180,12,31,...,57306,0,1,0,0,0,0,1,0,0
12,3158634,1479,3,44.04,9999690,1199059200,1199577600,1199265540,1,2,...,57306,0,1,0,0,0,0,1,0,0
13,3187542,1479,1,14.68,9999690,1199059200,1199577600,1199288340,1,2,...,57306,0,1,0,0,0,0,1,0,0
14,3359349,1479,2,29.36,9999690,1199059200,1199577600,1199375040,1,3,...,57306,0,1,0,0,0,0,1,0,0
15,3341818,1479,1,10.99,257871,1199059200,1199577600,1199098380,12,31,...,96418,0,1,0,0,0,0,0,0,1
16,3334490,1479,1,7.49,9999691,1199059200,1199577600,1199099460,12,31,...,95605,0,1,0,0,0,0,1,0,0
17,3358846,1479,1,5.99,9999690,1199059200,1199577600,1199099520,12,31,...,32130,0,1,0,0,0,0,1,0,0
18,3358846,1479,1,6.19,9999690,1199059200,1199577600,1199099520,12,31,...,30130,0,1,0,0,0,0,1,0,0
19,3160101,1479,1,13.91,9999661,1199059200,1199577600,1199099880,12,31,...,57306,0,1,0,0,0,0,1,0,0
20,3821710,1479,1,13.91,9999661,1199059200,1199577600,1199109300,12,31,...,57306,0,1,0,0,0,0,1,0,0
21,3837831,1479,1,13.91,9999661,1199059200,1199577600,1199460420,1,4,...,57306,0,1,0,0,0,0,1,0,0
22,3173575,1479,1,11.99,1085053,1199059200,1199577600,1199100060,12,31,...,10053,0,1,0,0,0,0,1,0,0
23,3330381,1479,1,8.79,9999690,1199059200,1199577600,1199100240,12,31,...,697,0,1,0,0,0,0,1,0,0
24,3140731,1479,1,8.79,9999690,1199059200,1199577600,1199108340,12,31,...,697,0,1,0,0,0,0,1,0,0
25,3330381,1479,1,6.59,9999690,1199059200,1199577600,1199100240,12,31,...,7995,0,1,0,0,0,0,1,0,0
26,3353623,1479,1,4.99,9999690,1199059200,1199577600,1199100540,12,31,...,834,0,1,0,0,0,0,1,0,0
27,3333377,1479,1,12.21,257871,1199059200,1199577600,1199100600,12,31,...,57340,0,1,0,0,0,0,1,0,0
28,3307264,1479,1,12.21,257871,1199059200,1199577600,1199466660,1,4,...,57340,0,1,0,0,0,0,1,0,0
29,3117333,1479,1,6.05,9999661,1199059200,1199577600,1199102220,12,31,...,51460,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,3135020,1686,1,12.99,1085053,1324252800,1324771200,1324728840,12,24,...,10014,0,1,0,0,0,0,1,0,0
67936,3327072,1686,1,8.29,9999691,1324252800,1324771200,1324729620,12,24,...,6064,0,1,0,0,0,0,1,0,0
67937,3327072,1686,1,5.29,9999691,1324252800,1324771200,1324729620,12,24,...,17505,0,1,0,0,0,0,1,0,0
67938,3327072,1686,1,7.49,9999691,1324252800,1324771200,1324729620,12,24,...,10020,0,1,0,0,0,0,1,0,0
67939,1142737,1686,1,16.99,9999875,1324252800,1324771200,1324731180,12,24,...,53308,0,1,0,0,0,0,1,0,0
67940,3307926,1686,1,15.99,9999691,1324252800,1324771200,1324731240,12,24,...,30071,0,1,0,0,0,0,1,0,0
67941,3402438,1686,1,12.99,9999661,1324252800,1324771200,1324731480,12,24,...,434,0,1,0,0,0,0,1,0,0
67942,3352260,1686,1,5.29,9999671,1324252800,1324771200,1324731660,12,24,...,670,0,1,0,0,0,0,1,0,0
67943,1141051,1686,1,13.99,9999875,1324252800,1324771200,1324732020,12,24,...,188,0,1,0,0,0,0,1,0,0
67944,3107334,1686,1,4.99,9999661,1324252800,1324771200,1324732920,12,24,...,357,0,1,0,0,0,0,1,0,0
67945,3327072,1686,1,14.99,9999691,1324252800,1324771200,1324734660,12,24,...,10403,0,1,0,0,0,0,1,0,0
67946,3801365,1686,1,12.99,257871,1324252800,1324771200,1324735260,12,24,...,75866,1,1,0,0,0,0,1,0,0
67947,3139253,1686,1,7.49,9999690,1324252800,1324771200,1324735620,12,24,...,920,0,1,0,0,0,0,1,0,0
67948,1811653,1686,1,8.99,9999879,1324252800,1324771200,1324735680,12,24,...,12360,0,1,0,0,0,0,1,0,0
67949,1138008,1686,1,12.99,9999875,1324252800,1324771200,1324736400,12,24,...,4012,0,1,0,0,0,0,1,0,0
67950,1200725,1686,1,7.29,9999879,1324252800,1324771200,1324737000,12,24,...,5989,0,1,0,0,0,0,1,0,0
67951,1200725,1686,1,16.99,9999879,1324252800,1324771200,1324737000,12,24,...,30078,0,1,0,0,0,0,1,0,0
67952,1123448,1686,1,13.99,9999875,1324252800,1324771200,1324737780,12,24,...,12300,0,1,0,0,0,0,1,0,0
67953,1216663,1686,1,11.99,9999879,1324252800,1324771200,1324737960,12,24,...,23012,0,1,0,0,0,0,1,0,0
67954,1807156,1686,1,9.49,9999879,1324252800,1324771200,1324738320,12,24,...,10012,0,1,0,0,0,0,1,0,0
67955,3109124,1686,2,30.98,257871,1324252800,1324771200,1324738440,12,24,...,86031,0,1,0,0,0,0,1,0,0
67956,3812750,1686,1,9.88,9999661,1324252800,1324771200,1324739040,12,24,...,1340,0,1,0,0,0,0,1,0,0
67957,1169474,1686,1,6.49,9999879,1324252800,1324771200,1324741380,12,24,...,30005,0,1,0,0,0,0,1,0,0
67958,3105080,1686,1,7.79,9999691,1324252800,1324771200,1324741860,12,24,...,9532,0,1,0,0,0,0,1,0,0
67959,3200857,1686,1,8.99,257871,1324252800,1324771200,1324743000,12,24,...,15509,0,1,0,0,0,0,1,0,0
67960,1154179,1686,1,16.99,9999879,1324252800,1324771200,1324743540,12,24,...,96624,0,1,0,0,0,0,1,0,0
67961,3174649,1686,1,7.99,9999691,1324252800,1324771200,1324747320,12,24,...,1636,0,1,0,0,0,0,1,0,0
67962,1218529,1686,1,19.99,9999875,1324252800,1324771200,1324747320,12,24,...,95680,0,1,0,0,0,0,1,0,0
67963,1312835,1686,1,12.99,9999879,1324252800,1324771200,1324748160,12,24,...,32012,0,1,0,0,0,0,1,0,0
67964,1407049,1686,1,3.99,9999879,1324252800,1324771200,1324748940,12,24,...,11,0,1,0,0,0,0,1,0,0

In [238]:
master_merged_df['UNITS'].value_counts()

1               61048
2                5325
3                 683
4                 449
0.0399999991      108
6                  77
5                  64
1.0799999237       39
1.1699991226       19
8                  17
1.0699996948        7
0.1699999571        6
12                  6
9                   5
0.5                 5
10                  4
24                  3
13                  3
0.25                3
1.029999733         2
14                  2
11                  2
2.1599998474        2
1.0399999619        2
0.5099999905        1
2.3399991989        1
16                  1
0.2399999499        1
7                   1
0.1499999762        1
30                  1
0.0799999833        1
0.1599999666        1
1.1599998474        1
dtype: int64

In [234]:
master_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67891 entries, 0 to 67964
Data columns (total 27 columns):
PANID                           67891 non-null object
WEEK                            67891 non-null object
UNITS                           67891 non-null object
DOLLARS                         67891 non-null object
IRI_KEY                         67891 non-null object
START_TIME_EPOCH_S              67891 non-null int64
END_TIME_EPOCH_S                67891 non-null int64
TRANSACTION_TIME_EPOCH_S        67891 non-null int64
MONTH                           67891 non-null int64
DAY                             67891 non-null int64
YEAR                            67891 non-null int64
HOUR_OF_DAY                     67891 non-null int64
MINUTE                          67891 non-null int64
DAYOFWEEK                       67891 non-null int64
SY                              67891 non-null int64
GE                              67891 non-null int64
VEND                            67891 non-null int64
ITEM                            67891 non-null int64
PR                              67891 non-null int64
Field_sourceCol_F_value_NONE    67891 non-null float64
Field_sourceCol_F_value_A       67891 non-null float64
Field_sourceCol_F_value_B       67891 non-null float64
Field_sourceCol_F_value_C       67891 non-null float64
Field_sourceCol_F_value_A+      67891 non-null float64
Field_sourceCol_D_value_0       67891 non-null float64
Field_sourceCol_D_value_1       67891 non-null float64
Field_sourceCol_D_value_2       67891 non-null float64
dtypes: float64(8), int64(14), object(5)
memory usage: 14.5+ MB

In [239]:
for c in master_merged_df.columns:
    m_type= float
    try:
        master_merged_df[c]= master_merged_df[c].astype(m_type)
    except Exception, e:
        raise RuntimeError("Issue when casting column {}".format(c))

In [240]:
master_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67891 entries, 0 to 67964
Data columns (total 27 columns):
PANID                           67891 non-null float64
WEEK                            67891 non-null float64
UNITS                           67891 non-null float64
DOLLARS                         67891 non-null float64
IRI_KEY                         67891 non-null float64
START_TIME_EPOCH_S              67891 non-null float64
END_TIME_EPOCH_S                67891 non-null float64
TRANSACTION_TIME_EPOCH_S        67891 non-null float64
MONTH                           67891 non-null float64
DAY                             67891 non-null float64
YEAR                            67891 non-null float64
HOUR_OF_DAY                     67891 non-null float64
MINUTE                          67891 non-null float64
DAYOFWEEK                       67891 non-null float64
SY                              67891 non-null float64
GE                              67891 non-null float64
VEND                            67891 non-null float64
ITEM                            67891 non-null float64
PR                              67891 non-null float64
Field_sourceCol_F_value_NONE    67891 non-null float64
Field_sourceCol_F_value_A       67891 non-null float64
Field_sourceCol_F_value_B       67891 non-null float64
Field_sourceCol_F_value_C       67891 non-null float64
Field_sourceCol_F_value_A+      67891 non-null float64
Field_sourceCol_D_value_0       67891 non-null float64
Field_sourceCol_D_value_1       67891 non-null float64
Field_sourceCol_D_value_2       67891 non-null float64
dtypes: float64(27)
memory usage: 14.5 MB

In [241]:
master_merged_df

,PANID,WEEK,UNITS,DOLLARS,IRI_KEY,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,...,ITEM,PR,Field_sourceCol_F_value_NONE,Field_sourceCol_F_value_A,Field_sourceCol_F_value_B,Field_sourceCol_F_value_C,Field_sourceCol_F_value_A+,Field_sourceCol_D_value_0,Field_sourceCol_D_value_1,Field_sourceCol_D_value_2
0,3369595,1479,4,10.00,257871,1199059200,1199577600,1199092980,12,31,...,75121,0,1,0,0,0,0,1,0,0
1,3369595,1479,3,7.50,257871,1199059200,1199577600,1199197080,1,1,...,75121,0,1,0,0,0,0,1,0,0
2,3369595,1479,4,10.00,257871,1199059200,1199577600,1199464740,1,4,...,75121,0,1,0,0,0,0,1,0,0
3,3834697,1479,1,8.99,257871,1199059200,1199577600,1199094480,12,31,...,17636,0,1,0,0,0,0,1,0,0
4,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199095200,12,31,...,53168,0,1,0,0,0,0,1,0,0
5,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199461680,1,4,...,53168,0,1,0,0,0,0,1,0,0
6,3176552,1479,1,14.68,9999690,1199059200,1199577600,1199540940,1,5,...,53168,0,1,0,0,0,0,1,0,0
7,3308189,1479,1,14.68,9999690,1199059200,1199577600,1199611620,1,6,...,53168,0,1,0,0,0,0,1,0,0
8,3812222,1479,1,10.98,9999691,1199059200,1199577600,1199095440,12,31,...,57340,0,1,0,0,0,0,1,0,0
9,3356188,1479,1,8.89,9999691,1199059200,1199577600,1199096700,12,31,...,30069,0,1,0,0,0,0,1,0,0
10,3315523,1479,1,14.68,9999690,1199059200,1199577600,1199097180,12,31,...,57306,0,1,0,0,0,0,1,0,0
11,3106526,1479,2,29.36,9999690,1199059200,1199577600,1199112180,12,31,...,57306,0,1,0,0,0,0,1,0,0
12,3158634,1479,3,44.04,9999690,1199059200,1199577600,1199265540,1,2,...,57306,0,1,0,0,0,0,1,0,0
13,3187542,1479,1,14.68,9999690,1199059200,1199577600,1199288340,1,2,...,57306,0,1,0,0,0,0,1,0,0
14,3359349,1479,2,29.36,9999690,1199059200,1199577600,1199375040,1,3,...,57306,0,1,0,0,0,0,1,0,0
15,3341818,1479,1,10.99,257871,1199059200,1199577600,1199098380,12,31,...,96418,0,1,0,0,0,0,0,0,1
16,3334490,1479,1,7.49,9999691,1199059200,1199577600,1199099460,12,31,...,95605,0,1,0,0,0,0,1,0,0
17,3358846,1479,1,5.99,9999690,1199059200,1199577600,1199099520,12,31,...,32130,0,1,0,0,0,0,1,0,0
18,3358846,1479,1,6.19,9999690,1199059200,1199577600,1199099520,12,31,...,30130,0,1,0,0,0,0,1,0,0
19,3160101,1479,1,13.91,9999661,1199059200,1199577600,1199099880,12,31,...,57306,0,1,0,0,0,0,1,0,0
20,3821710,1479,1,13.91,9999661,1199059200,1199577600,1199109300,12,31,...,57306,0,1,0,0,0,0,1,0,0
21,3837831,1479,1,13.91,9999661,1199059200,1199577600,1199460420,1,4,...,57306,0,1,0,0,0,0,1,0,0
22,3173575,1479,1,11.99,1085053,1199059200,1199577600,1199100060,12,31,...,10053,0,1,0,0,0,0,1,0,0
23,3330381,1479,1,8.79,9999690,1199059200,1199577600,1199100240,12,31,...,697,0,1,0,0,0,0,1,0,0
24,3140731,1479,1,8.79,9999690,1199059200,1199577600,1199108340,12,31,...,697,0,1,0,0,0,0,1,0,0
25,3330381,1479,1,6.59,9999690,1199059200,1199577600,1199100240,12,31,...,7995,0,1,0,0,0,0,1,0,0
26,3353623,1479,1,4.99,9999690,1199059200,1199577600,1199100540,12,31,...,834,0,1,0,0,0,0,1,0,0
27,3333377,1479,1,12.21,257871,1199059200,1199577600,1199100600,12,31,...,57340,0,1,0,0,0,0,1,0,0
28,3307264,1479,1,12.21,257871,1199059200,1199577600,1199466660,1,4,...,57340,0,1,0,0,0,0,1,0,0
29,3117333,1479,1,6.05,9999661,1199059200,1199577600,1199102220,12,31,...,51460,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,3135020,1686,1,12.99,1085053,1324252800,1324771200,1324728840,12,24,...,10014,0,1,0,0,0,0,1,0,0
67936,3327072,1686,1,8.29,9999691,1324252800,1324771200,1324729620,12,24,...,6064,0,1,0,0,0,0,1,0,0
67937,3327072,1686,1,5.29,9999691,1324252800,1324771200,1324729620,12,24,...,17505,0,1,0,0,0,0,1,0,0
67938,3327072,1686,1,7.49,9999691,1324252800,1324771200,1324729620,12,24,...,10020,0,1,0,0,0,0,1,0,0
67939,1142737,1686,1,16.99,9999875,1324252800,1324771200,1324731180,12,24,...,53308,0,1,0,0,0,0,1,0,0
67940,3307926,1686,1,15.99,9999691,1324252800,1324771200,1324731240,12,24,...,30071,0,1,0,0,0,0,1,0,0
67941,3402438,1686,1,12.99,9999661,1324252800,1324771200,1324731480,12,24,...,434,0,1,0,0,0,0,1,0,0
67942,3352260,1686,1,5.29,9999671,1324252800,1324771200,1324731660,12,24,...,670,0,1,0,0,0,0,1,0,0
67943,1141051,1686,1,13.99,9999875,1324252800,1324771200,1324732020,12,24,...,188,0,1,0,0,0,0,1,0,0
67944,3107334,1686,1,4.99,9999661,1324252800,1324771200,1324732920,12,24,...,357,0,1,0,0,0,0,1,0,0
67945,3327072,1686,1,14.99,9999691,1324252800,1324771200,1324734660,12,24,...,10403,0,1,0,0,0,0,1,0,0
67946,3801365,1686,1,12.99,257871,1324252800,1324771200,1324735260,12,24,...,75866,1,1,0,0,0,0,1,0,0
67947,3139253,1686,1,7.49,9999690,1324252800,1324771200,1324735620,12,24,...,920,0,1,0,0,0,0,1,0,0
67948,1811653,1686,1,8.99,9999879,1324252800,1324771200,1324735680,12,24,...,12360,0,1,0,0,0,0,1,0,0
67949,1138008,1686,1,12.99,9999875,1324252800,1324771200,1324736400,12,24,...,4012,0,1,0,0,0,0,1,0,0
67950,1200725,1686,1,7.29,9999879,1324252800,1324771200,1324737000,12,24,...,5989,0,1,0,0,0,0,1,0,0
67951,1200725,1686,1,16.99,9999879,1324252800,1324771200,1324737000,12,24,...,30078,0,1,0,0,0,0,1,0,0
67952,1123448,1686,1,13.99,9999875,1324252800,1324771200,1324737780,12,24,...,12300,0,1,0,0,0,0,1,0,0
67953,1216663,1686,1,11.99,9999879,1324252800,1324771200,1324737960,12,24,...,23012,0,1,0,0,0,0,1,0,0
67954,1807156,1686,1,9.49,9999879,1324252800,1324771200,1324738320,12,24,...,10012,0,1,0,0,0,0,1,0,0
67955,3109124,1686,2,30.98,257871,1324252800,1324771200,1324738440,12,24,...,86031,0,1,0,0,0,0,1,0,0
67956,3812750,1686,1,9.88,9999661,1324252800,1324771200,1324739040,12,24,...,1340,0,1,0,0,0,0,1,0,0
67957,1169474,1686,1,6.49,9999879,1324252800,1324771200,1324741380,12,24,...,30005,0,1,0,0,0,0,1,0,0
67958,3105080,1686,1,7.79,9999691,1324252800,1324771200,1324741860,12,24,...,9532,0,1,0,0,0,0,1,0,0
67959,3200857,1686,1,8.99,257871,1324252800,1324771200,1324743000,12,24,...,15509,0,1,0,0,0,0,1,0,0
67960,1154179,1686,1,16.99,9999879,1324252800,1324771200,1324743540,12,24,...,96624,0,1,0,0,0,0,1,0,0
67961,3174649,1686,1,7.99,9999691,1324252800,1324771200,1324747320,12,24,...,1636,0,1,0,0,0,0,1,0,0
67962,1218529,1686,1,19.99,9999875,1324252800,1324771200,1324747320,12,24,...,95680,0,1,0,0,0,0,1,0,0
67963,1312835,1686,1,12.99,9999879,1324252800,1324771200,1324748160,12,24,...,32012,0,1,0,0,0,0,1,0,0
67964,1407049,1686,1,3.99,9999879,1324252800,1324771200,1324748940,12,24,...,11,0,1,0,0,0,0,1,0,0

In [242]:
master_merged_df.to_csv("master_merged_preprocessed.csv", index=False)