## Load Python modules

In [1]:
import pandas as pd
from pandas.core.series import Series
import numpy as np
import glob
import datetime
# import sklearn
# import sklearn.datasets
# import sklearn.cross_validation
# import time

# from sklearn.cross_validation import KFold
# from sklearn import ensemble
# from sklearn import metrics
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.cross_validation import cross_val_score
# from sklearn.tree import DecisionTreeRegressor

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
def convert_week(x):
    start_epoch_arr= x.values.astype(int)
    end_epoch_arr= np.array(start_epoch_arr)
    
    start_epoch_arr= (start_epoch_arr-400)*7+31900-6
    start_epoch_arr = (start_epoch_arr-25569) * 86400
    
    end_epoch_arr = (end_epoch_arr-400)*7+31900
    end_epoch_arr= (end_epoch_arr-25569) * 86400
    
    return (start_epoch_arr, end_epoch_arr)

def get_transaction_time(x, start_epoch_arr):
    transaction_time_epoch_arr= x.values.astype(int)
    transaction_time_epoch_arr= start_epoch_arr + (transaction_time_epoch_arr * 60)
    return transaction_time_epoch_arr

def get_datetime(transaction_time_epoch_arr):
    t_shape= np.shape(transaction_time_epoch_arr)
    month_arr= np.zeros(t_shape)
    day_arr=np.zeros(t_shape)
    year_arr= np.zeros(t_shape)
    hour_arr= np.zeros(t_shape)
    minute_arr= np.zeros(t_shape)
    dayofweek_arr= np.zeros(t_shape)
    
    for i in xrange(t_shape[0]):
        t_time= transaction_time_epoch_arr[i]
        dt= datetime.datetime.utcfromtimestamp(t_time)
        month_arr[i]= dt.month
        day_arr[i]= dt.day
        year_arr[i]= dt.year
        hour_arr[i]= dt.hour
        minute_arr[i]= dt.minute
        dayofweek_arr[i]= dt.weekday()
    
    return (month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr)

def parse_panel(filename):
    column_headers= None
    m_df_items= []
    with open(filename) as f:
        i= 0
        for line in f:
            line= line.strip()
            s_arr= line.split(",")
            s_arr= [x for x in s_arr if len(x.strip()) > 0]
            if column_headers == None:
                column_headers= s_arr
                continue
            item= (i, s_arr)
            m_df_items.append(item)
            i+=1
    if "MINUTE" not in column_headers:
        raise RuntimeError("Expecting MINUTE column in dataset, unable to parse")
        
    m_df= pd.DataFrame.from_items(m_df_items, columns=column_headers, orient='index')
    
    s_week_df= m_df["WEEK"]
    start_time_epoch_arr, end_time_epoch_arr= convert_week(s_week_df)
    r1= pd.DataFrame({
        'START_TIME_EPOCH_S' : start_time_epoch_arr
    })
    r2= pd.DataFrame({
        'END_TIME_EPOCH_S' : end_time_epoch_arr
    })
    m_df= pd.concat([m_df, r1, r2], axis=1)
    #
    s_minute_df= m_df["MINUTE"]
    transaction_time_epoch_arr= get_transaction_time(s_minute_df, start_time_epoch_arr)
    t_result= pd.DataFrame({
        'TRANSACTION_TIME_EPOCH_S' : transaction_time_epoch_arr
    })
    # extract month, day, year, hour, minute
    month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr= get_datetime(transaction_time_epoch_arr)
    r1= pd.DataFrame({
        'MONTH' : month_arr
    })
    r2= pd.DataFrame({
        'DAY' : day_arr
    })
    r3= pd.DataFrame({
        'YEAR' : year_arr
    })
    r4= pd.DataFrame({
        'HOUR_OF_DAY' : hour_arr
    })
    r5= pd.DataFrame({
        'MINUTE' : minute_arr
    })
    r6= pd.DataFrame({
        'DAYOFWEEK' : dayofweek_arr
    })
    m_df.drop("MINUTE", axis=1, inplace=True)
    m_df= pd.concat([m_df, t_result, r1, r2, r3, r4, r5, r6], axis=1)
    #
    return m_df

In [4]:
# parse panels across Year8-Year11
panel_filenames= []
panel_filenames.extend(glob.glob("/home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year8/*.DAT"))
panel_filenames.extend(glob.glob("/home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year9/*.DAT"))
panel_filenames.extend(glob.glob("/home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year10/*.DAT"))
panel_filenames.extend(glob.glob("/home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year11/*.DAT"))

master_panel_df= None
for pf in panel_filenames:
    print "Parsing {}".format(pf)
    m_df= parse_panel(pf)
    if master_panel_df is None:
        master_panel_df= m_df
    else:
        master_panel_df= pd.concat([master_panel_df, m_df], ignore_index=True)

master_panel_df.sort(["TRANSACTION_TIME_EPOCH_S"], inplace=True)
master_panel_df.reset_index(drop=True, inplace=True)
master_panel_df

Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year8/beer_PANEL_MK_1479_1530.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year8/beer_PANEL_GK_1479_1530.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year8/beer_PANEL_KK_1479_1530.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year9/beer_PANEL_GK_1531_1582.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year9/beer_PANEL_MK_1531_1582.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year10/beer_PANEL_MK_1583_1634.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year10/beer_PANEL_GK_1583_1634.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year10/beer_PANEL_DK_1583_1634.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year11/beer_PANEL_DK_1635_1686.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year11/beer_PANEL_GK_1635_1686.DAT
Parsing /home/dyerke/Documents/DSE/DSE220/HW4_Final/data/Year11/beer_PANEL_MK_1635_1686.DAT

,PANID,WEEK,UNITS,OUTLET,DOLLARS,IRI_KEY,COLUPC,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,YEAR,HOUR_OF_DAY,MINUTE,DAYOFWEEK
0,3369595,1479,4,GK,10,257871,0018417375121,1199059200,1199577600,1199092980,12,31,2007,9,23,0
1,3834697,1479,1,GK,8.99,257871,0013410017636,1199059200,1199577600,1199094480,12,31,2007,9,48,0
2,3308189,1479,1,GK,14.68,9999690,0011820053168,1199059200,1199577600,1199095200,12,31,2007,10,0,0
3,3812222,1479,1,GK,10.98,9999691,0013410057340,1199059200,1199577600,1199095440,12,31,2007,10,4,0
4,3356188,1479,1,GK,8.89,9999691,0017199030069,1199059200,1199577600,1199096700,12,31,2007,10,25,0
5,3315523,1479,1,GK,14.68,9999690,0013410057306,1199059200,1199577600,1199097180,12,31,2007,10,33,0
6,3341818,1479,1,GK,10.99,257871,0011820096418,1199059200,1199577600,1199098380,12,31,2007,10,53,0
7,3334490,1479,1,GK,7.49,9999691,0028066095605,1199059200,1199577600,1199099460,12,31,2007,11,11,0
8,3358846,1479,1,GK,6.19,9999690,0018417330130,1199059200,1199577600,1199099520,12,31,2007,11,12,0
9,3358846,1479,1,GK,5.99,9999690,0018417332130,1199059200,1199577600,1199099520,12,31,2007,11,12,0
10,3160101,1479,1,GK,13.91,9999661,0013410057306,1199059200,1199577600,1199099880,12,31,2007,11,18,0
11,3173575,1479,1,GK,11.99,1085053,0018834510053,1199059200,1199577600,1199100060,12,31,2007,11,21,0
12,3330381,1479,1,GK,6.59,9999690,0011820007995,1199059200,1199577600,1199100240,12,31,2007,11,24,0
13,3330381,1479,1,GK,8.79,9999690,0031820000697,1199059200,1199577600,1199100240,12,31,2007,11,24,0
14,3353623,1479,1,GK,4.99,9999690,0011820000834,1199059200,1199577600,1199100540,12,31,2007,11,29,0
15,3333377,1479,1,GK,12.21,257871,0013410057340,1199059200,1199577600,1199100600,12,31,2007,11,30,0
16,3117333,1479,1,GK,13.79,9999661,0711820011025,1199059200,1199577600,1199102220,12,31,2007,11,57,0
17,3117333,1479,1,GK,6.05,9999661,0015146051460,1199059200,1199577600,1199102220,12,31,2007,11,57,0
18,3156729,1479,2,GK,25.98,9999691,0017336011214,1199059200,1199577600,1199102700,12,31,2007,12,5,0
19,3156729,1479,1,GK,14.68,9999691,0013410015341,1199059200,1199577600,1199102700,12,31,2007,12,5,0
20,3347450,1479,2,GK,28.58,9999690,0011820086031,1199059200,1199577600,1199103180,12,31,2007,12,13,0
21,3314419,1479,1,GK,5.69,1085053,0013410057570,1199059200,1199577600,1199104200,12,31,2007,12,30,0
22,3343764,1479,1,GK,8.79,9999691,0031820000697,1199059200,1199577600,1199104320,12,31,2007,12,32,0
23,3833319,1479,1,GK,16.49,1085053,0011820096379,1199059200,1199577600,1199105160,12,31,2007,12,46,0
24,3161760,1479,1,GK,9.29,257871,0011820000769,1199059200,1199577600,1199105520,12,31,2007,12,52,0
25,3801365,1479,1,GK,11.98,9999691,0053410072405,1199059200,1199577600,1199105580,12,31,2007,12,53,0
26,3103333,1479,1,GK,13.69,9999690,0011820096663,1199059200,1199577600,1199105700,12,31,2007,12,55,0
27,3817353,1479,1,GK,12.99,9999661,0011820096418,1199059200,1199577600,1199105940,12,31,2007,12,59,0
28,3144766,1479,1,GK,11.06,257871,0011820053218,1199059200,1199577600,1199105940,12,31,2007,12,59,0
29,3183384,1479,2,GK,15.18,9999690,0023410062509,1199059200,1199577600,1199107620,12,31,2007,13,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,1811653,1686,1,GK,8.99,9999879,0018382012360,1324252800,1324771200,1324735680,12,24,2011,14,8,5
67936,1811653,1686,1,GK,8.99,9999879,0028066095605,1324252800,1324771200,1324735680,12,24,2011,14,8,5
67937,1138008,1686,1,GK,12.99,9999875,0714304104012,1324252800,1324771200,1324736400,12,24,2011,14,20,5
67938,1138008,1686,1,GK,19.99,9999875,0017199030030,1324252800,1324771200,1324736400,12,24,2011,14,20,5
67939,1200725,1686,1,GK,7.29,9999879,0011820005989,1324252800,1324771200,1324737000,12,24,2011,14,30,5
67940,1200725,1686,1,GK,16.99,9999879,0017199030078,1324252800,1324771200,1324737000,12,24,2011,14,30,5
67941,1208629,1686,1,GK,19.98,9999875,0011820053030,1324252800,1324771200,1324737120,12,24,2011,14,32,5
67942,1208629,1686,1,GK,11.99,9999875,0011820014990,1324252800,1324771200,1324737120,12,24,2011,14,32,5
67943,3167510,1686,1,GK,13.99,9999691,0015230000435,1324252800,1324771200,1324737300,12,24,2011,14,35,5
67944,1123448,1686,1,GK,19.99,9999875,0017199030030,1324252800,1324771200,1324737780,12,24,2011,14,43,5
67945,1123448,1686,1,GK,13.99,9999875,0018248812300,1324252800,1324771200,1324737780,12,24,2011,14,43,5
67946,1216663,1686,1,GK,11.99,9999879,0027231123012,1324252800,1324771200,1324737960,12,24,2011,14,46,5
67947,1807156,1686,1,GK,9.49,9999879,0018769210012,1324252800,1324771200,1324738320,12,24,2011,14,52,5
67948,3109124,1686,2,GK,30.98,257871,0011820086031,1324252800,1324771200,1324738440,12,24,2011,14,54,5
67949,3812750,1686,1,GK,9.88,9999661,0013410001340,1324252800,1324771200,1324739040,12,24,2011,15,4,5
67950,3320135,1686,1,GK,11.99,1085053,0011820096418,1324252800,1324771200,1324739820,12,24,2011,15,17,5
67951,1157099,1686,1,GK,12.99,9999879,0048769229103,1324252800,1324771200,1324740240,12,24,2011,15,24,5
67952,1169474,1686,1,GK,6.49,9999879,0017199030005,1324252800,1324771200,1324741380,12,24,2011,15,43,5
67953,3105080,1686,1,GK,7.79,9999691,0027199009532,1324252800,1324771200,1324741860,12,24,2011,15,51,5
67954,3200857,1686,1,GK,8.99,257871,0023410015509,1324252800,1324771200,1324743000,12,24,2011,16,10,5
67955,1154179,1686,1,GK,16.99,9999879,0011820096624,1324252800,1324771200,1324743540,12,24,2011,16,19,5
67956,3348904,1686,1,GK,13.99,9999691,0015230000435,1324252800,1324771200,1324744380,12,24,2011,16,33,5
67957,1400812,1686,1,GK,19.99,9999879,0011820011030,1324252800,1324771200,1324746000,12,24,2011,17,0,5
67958,3825554,1686,1,GK,10.99,1085053,0023410078574,1324252800,1324771200,1324746300,12,24,2011,17,5,5
67959,1179614,1686,1,GK,12.49,9999879,0017199000048,1324252800,1324771200,1324746660,12,24,2011,17,11,5
67960,1128082,1686,1,GK,11.99,9999879,0011820000771,1324252800,1324771200,1324747320,12,24,2011,17,22,5
67961,3174649,1686,1,GK,7.99,9999691,0013410001636,1324252800,1324771200,1324747320,12,24,2011,17,22,5
67962,1218529,1686,1,GK,19.99,9999875,0018066095680,1324252800,1324771200,1324747320,12,24,2011,17,22,5
67963,1312835,1686,1,GK,12.99,9999879,0018769232012,1324252800,1324771200,1324748160,12,24,2011,17,36,5
67964,1407049,1686,1,GK,3.99,9999879,0710456300011,1324252800,1324771200,1324748940,12,24,2011,17,49,5

In [5]:
s_outlet= master_panel_df["OUTLET"]
s_outlet_counts= s_outlet.value_counts()
s_outlet_counts

GK     67891
DK        26
MK        25
KK        23
dtype: int64

In [6]:
# decompose outlet categories to 0=Grocery, 1=Drug, 2=Mass
mapping= {
    "GK":0,
    "DK":1,
    "KK":1,
    "MK":2,
}
master_panel_df["OUTLET"]= s_outlet.apply(lambda x: mapping[x.strip()])
master_panel_df

,PANID,WEEK,UNITS,OUTLET,DOLLARS,IRI_KEY,COLUPC,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,YEAR,HOUR_OF_DAY,MINUTE,DAYOFWEEK
0,3369595,1479,4,0,10,257871,0018417375121,1199059200,1199577600,1199092980,12,31,2007,9,23,0
1,3834697,1479,1,0,8.99,257871,0013410017636,1199059200,1199577600,1199094480,12,31,2007,9,48,0
2,3308189,1479,1,0,14.68,9999690,0011820053168,1199059200,1199577600,1199095200,12,31,2007,10,0,0
3,3812222,1479,1,0,10.98,9999691,0013410057340,1199059200,1199577600,1199095440,12,31,2007,10,4,0
4,3356188,1479,1,0,8.89,9999691,0017199030069,1199059200,1199577600,1199096700,12,31,2007,10,25,0
5,3315523,1479,1,0,14.68,9999690,0013410057306,1199059200,1199577600,1199097180,12,31,2007,10,33,0
6,3341818,1479,1,0,10.99,257871,0011820096418,1199059200,1199577600,1199098380,12,31,2007,10,53,0
7,3334490,1479,1,0,7.49,9999691,0028066095605,1199059200,1199577600,1199099460,12,31,2007,11,11,0
8,3358846,1479,1,0,6.19,9999690,0018417330130,1199059200,1199577600,1199099520,12,31,2007,11,12,0
9,3358846,1479,1,0,5.99,9999690,0018417332130,1199059200,1199577600,1199099520,12,31,2007,11,12,0
10,3160101,1479,1,0,13.91,9999661,0013410057306,1199059200,1199577600,1199099880,12,31,2007,11,18,0
11,3173575,1479,1,0,11.99,1085053,0018834510053,1199059200,1199577600,1199100060,12,31,2007,11,21,0
12,3330381,1479,1,0,6.59,9999690,0011820007995,1199059200,1199577600,1199100240,12,31,2007,11,24,0
13,3330381,1479,1,0,8.79,9999690,0031820000697,1199059200,1199577600,1199100240,12,31,2007,11,24,0
14,3353623,1479,1,0,4.99,9999690,0011820000834,1199059200,1199577600,1199100540,12,31,2007,11,29,0
15,3333377,1479,1,0,12.21,257871,0013410057340,1199059200,1199577600,1199100600,12,31,2007,11,30,0
16,3117333,1479,1,0,13.79,9999661,0711820011025,1199059200,1199577600,1199102220,12,31,2007,11,57,0
17,3117333,1479,1,0,6.05,9999661,0015146051460,1199059200,1199577600,1199102220,12,31,2007,11,57,0
18,3156729,1479,2,0,25.98,9999691,0017336011214,1199059200,1199577600,1199102700,12,31,2007,12,5,0
19,3156729,1479,1,0,14.68,9999691,0013410015341,1199059200,1199577600,1199102700,12,31,2007,12,5,0
20,3347450,1479,2,0,28.58,9999690,0011820086031,1199059200,1199577600,1199103180,12,31,2007,12,13,0
21,3314419,1479,1,0,5.69,1085053,0013410057570,1199059200,1199577600,1199104200,12,31,2007,12,30,0
22,3343764,1479,1,0,8.79,9999691,0031820000697,1199059200,1199577600,1199104320,12,31,2007,12,32,0
23,3833319,1479,1,0,16.49,1085053,0011820096379,1199059200,1199577600,1199105160,12,31,2007,12,46,0
24,3161760,1479,1,0,9.29,257871,0011820000769,1199059200,1199577600,1199105520,12,31,2007,12,52,0
25,3801365,1479,1,0,11.98,9999691,0053410072405,1199059200,1199577600,1199105580,12,31,2007,12,53,0
26,3103333,1479,1,0,13.69,9999690,0011820096663,1199059200,1199577600,1199105700,12,31,2007,12,55,0
27,3817353,1479,1,0,12.99,9999661,0011820096418,1199059200,1199577600,1199105940,12,31,2007,12,59,0
28,3144766,1479,1,0,11.06,257871,0011820053218,1199059200,1199577600,1199105940,12,31,2007,12,59,0
29,3183384,1479,2,0,15.18,9999690,0023410062509,1199059200,1199577600,1199107620,12,31,2007,13,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67935,1811653,1686,1,0,8.99,9999879,0018382012360,1324252800,1324771200,1324735680,12,24,2011,14,8,5
67936,1811653,1686,1,0,8.99,9999879,0028066095605,1324252800,1324771200,1324735680,12,24,2011,14,8,5
67937,1138008,1686,1,0,12.99,9999875,0714304104012,1324252800,1324771200,1324736400,12,24,2011,14,20,5
67938,1138008,1686,1,0,19.99,9999875,0017199030030,1324252800,1324771200,1324736400,12,24,2011,14,20,5
67939,1200725,1686,1,0,7.29,9999879,0011820005989,1324252800,1324771200,1324737000,12,24,2011,14,30,5
67940,1200725,1686,1,0,16.99,9999879,0017199030078,1324252800,1324771200,1324737000,12,24,2011,14,30,5
67941,1208629,1686,1,0,19.98,9999875,0011820053030,1324252800,1324771200,1324737120,12,24,2011,14,32,5
67942,1208629,1686,1,0,11.99,9999875,0011820014990,1324252800,1324771200,1324737120,12,24,2011,14,32,5
67943,3167510,1686,1,0,13.99,9999691,0015230000435,1324252800,1324771200,1324737300,12,24,2011,14,35,5
67944,1123448,1686,1,0,19.99,9999875,0017199030030,1324252800,1324771200,1324737780,12,24,2011,14,43,5
67945,1123448,1686,1,0,13.99,9999875,0018248812300,1324252800,1324771200,1324737780,12,24,2011,14,43,5
67946,1216663,1686,1,0,11.99,9999879,0027231123012,1324252800,1324771200,1324737960,12,24,2011,14,46,5
67947,1807156,1686,1,0,9.49,9999879,0018769210012,1324252800,1324771200,1324738320,12,24,2011,14,52,5
67948,3109124,1686,2,0,30.98,257871,0011820086031,1324252800,1324771200,1324738440,12,24,2011,14,54,5
67949,3812750,1686,1,0,9.88,9999661,0013410001340,1324252800,1324771200,1324739040,12,24,2011,15,4,5
67950,3320135,1686,1,0,11.99,1085053,0011820096418,1324252800,1324771200,1324739820,12,24,2011,15,17,5
67951,1157099,1686,1,0,12.99,9999879,0048769229103,1324252800,1324771200,1324740240,12,24,2011,15,24,5
67952,1169474,1686,1,0,6.49,9999879,0017199030005,1324252800,1324771200,1324741380,12,24,2011,15,43,5
67953,3105080,1686,1,0,7.79,9999691,0027199009532,1324252800,1324771200,1324741860,12,24,2011,15,51,5
67954,3200857,1686,1,0,8.99,257871,0023410015509,1324252800,1324771200,1324743000,12,24,2011,16,10,5
67955,1154179,1686,1,0,16.99,9999879,0011820096624,1324252800,1324771200,1324743540,12,24,2011,16,19,5
67956,3348904,1686,1,0,13.99,9999691,0015230000435,1324252800,1324771200,1324744380,12,24,2011,16,33,5
67957,1400812,1686,1,0,19.99,9999879,0011820011030,1324252800,1324771200,1324746000,12,24,2011,17,0,5
67958,3825554,1686,1,0,10.99,1085053,0023410078574,1324252800,1324771200,1324746300,12,24,2011,17,5,5
67959,1179614,1686,1,0,12.49,9999879,0017199000048,1324252800,1324771200,1324746660,12,24,2011,17,11,5
67960,1128082,1686,1,0,11.99,9999879,0011820000771,1324252800,1324771200,1324747320,12,24,2011,17,22,5
67961,3174649,1686,1,0,7.99,9999691,0013410001636,1324252800,1324771200,1324747320,12,24,2011,17,22,5
67962,1218529,1686,1,0,19.99,9999875,0018066095680,1324252800,1324771200,1324747320,12,24,2011,17,22,5
67963,1312835,1686,1,0,12.99,9999879,0018769232012,1324252800,1324771200,1324748160,12,24,2011,17,36,5
67964,1407049,1686,1,0,3.99,9999879,0710456300011,1324252800,1324771200,1324748940,12,24,2011,17,49,5

In [8]:
master_panel_df.to_csv("master_panel.csv")